---
import PageHeader from "../../../components/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
import { getPage } from "../../../utils";

const page = await getPage("block-action");

const title = page.title_ja || page.title;
const description = page.description_ja || page.description;
const keywords = page.keywords_ja || page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title}>
    <span slot="description" set:html={description}></span>
  </PageHeader>
  <!-- Start Highlights -->
  <section class="section">
    <div class="container">
      <div class="row align-items-top ">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">インターフェースとデータの<span class="text-primary">デカップリング</span>：ブロックと操作を自由に組み合わせ</h5>
            <p class="text-muted">ページ設計から始まるノーコード製品とは異なり、NocoBase はデータ駆動型です — まずデータ構造を定義し、その後インターフェースを作成します。これにより、同じデータセットが異なるユースケースに対して異なるインターフェースと操作を提供できます。</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/BA-2.1-EN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">同一の<span class="text-primary">フィルターブロック</span>で複数のデータブロックをフィルタリング</h5>
            <p class="text-muted">ページに複数のデータブロック（テーブルやチャートなど）が含まれている場合、単一のフィルターブロックを使用してすべてを同時にフィルタリングできます。</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/BA-2.2-EN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">イベントフロー</span>で複数のブロックと操作を連携</h5>
            <p class="text-muted">ページに複数のブロックと操作が含まれている場合、イベントフローを使用してそれらの相互作用ロジックを編成できます。たとえば、CRM で顧客を表示する際に、ERP システムからその顧客の注文記録を同時にクエリできます。</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/BA-2.3-EN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- Highlights End -->
</Layout>