---
import PageHeader from "../../../components/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";

const title = "Izin";
const description = "Kelola izin sistem, izin per record, dan izin per field di NocoBase dengan kontrol yang rinci.";
const keywords = "NocoBase, izin, peran, kontrol akses, keamanan, data";
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title}>
    <span slot="description">{description}</span>
  </PageHeader>
  <section class="section"><div class="container">
    <div class="row align-items-top "><div class="col-lg-5 col-md-5"><div class="section-title"><h5 class="mb-4">Kontrol <span class="text-primary">izin sistem</span></h5><p class="text-muted">Saat membangun dengan NocoBase, Anda dapat memberikan izin sistem yang berbeda untuk anggota tim yang berbeda, sehingga setiap orang hanya dapat bekerja pada modul yang memang diizinkan.</p></div></div><div class="col-lg-7"><div class="card rounded border-0 shadow ms-lg-5"><video controls class="rounded shadow"><source src="https://static-docs.nocobase.com/PM-4.1-EN.mp4" type="video/mp4"></video></div></div></div>
    <div class="row align-items-top mt-100"><div class="col-lg-5 col-md-5"><div class="section-title"><h5 class="mb-4">Kontrol rinci untuk izin <span class="text-primary">level record dan level field</span></h5><p class="text-muted">NocoBase mendukung kontrol granular pada level record dan field, sehingga setiap karyawan hanya dapat mengakses dan mengubah data yang memang menjadi kewenangannya.<br>Misalnya, seorang sales dapat melihat dan mengedit pelanggan yang dia tangani, melihat tetapi tidak mengedit pelanggan rekan satu departemen, dan tidak dapat melihat total nilai semua pesanan.</p></div></div><div class="col-lg-7"><div class="card rounded border-0 shadow ms-lg-5"><video controls class="rounded shadow"><source src="https://static-docs.nocobase.com/PM-4.2-EN.mp4" type="video/mp4"></video></div></div></div>
    <div class="row align-items-top mt-100"><div class="col-lg-5 col-md-5"><div class="section-title"><h5 class="mb-4"><span class="text-primary">Banyak peran</span> dan kombinasi izin untuk satu pengguna</h5><p class="text-muted">Dalam sistem bisnis, satu pengguna sering menjalankan beberapa peran sekaligus. NocoBase memungkinkan banyak peran untuk satu akun dan menyediakan beberapa strategi kombinasi izin sesuai kebutuhan operasional.</p></div></div><div class="col-lg-7"><div class="card rounded border-0 shadow ms-lg-5"><video controls class="rounded shadow"><source src="https://static-docs.nocobase.com/PM-4.3-EN.mp4" type="video/mp4"></video></div></div></div>
  </div></section>
</Layout>
