---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPage } from "../../utils";

const page = await getPage("commercial");

const title = page.title_ja || page.title;
const description = page.description_ja || page.description;
const keywords = page.keywords_ja || page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} description={description} />
  <!-- どのエディションを選ぶか Start -->
  <section class="section pb-0" id="experience">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <div class="position-relative">
              <h4 class="title mb-4">どのエディションを選ぶか</h4>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-12 mt-4 pt-2">
          <div class="timeline-page position-relative">
            <div class="timeline-item">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>コミュニティ版、無料</h5>
                    <small class="text-muted mb-0">ほとんどのユーザーに最適な選択</small>
                  </div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">こんな時におすすめ</h6>
                    <ul class="text-muted">
                      <li>無コード開発プラットフォームをチームの基盤として、ビジネスシステムや内部ツールを構築したい</li>
                      <li>フルソースコードを入手し、自己ホストで完全なコントロールを持ちたい</li>
                      <li>多様で豊富な機能を備え、大部分のニーズを満たせる</li>
                      <li>ロックインされず、自由に機能拡張できる柔軟性が欲しい</li>
                      <li>プラグインをインストール・開発して機能拡張が可能</li>
                      <li>ユーザー数やデータ量に制限なく、無制限のアプリケーションを開発可能</li>
                      <li>インターフェース上にさりげなくNocoBaseのロゴが表示されても構わない</li>
                      <li>NocoBaseコミュニティによる技術サポートがあれば十分</li>
                      <li>自分が開発したプラグインをオープンソースコミュニティへ貢献する意思がある</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>スタンダード版，$800</h5>
                    <small class="text-muted mb-0">通常利用に最適な選択</small>
                  </div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">さらに必要な場合</h6>
                    <ul class="text-muted">
                      <li>自分のコードやプラグインをオープンソース化せずに保持したい</li>
                      <li>インターフェース上のNocoBaseロゴを自社ブランドに変更したい</li>
                      <li>一度の支払いで永久使用を希望</li>
                      <li>8 ポイントの商業プラグイン交換用ポイントを付与</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>プロフェッショナル版，$8,000</h5>
                    <small class="text-muted mb-0">プロフェッショナルなチームの要求に対応</small>
                  </div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">さらに必要な場合</h6>
                    <ul class="text-muted">
                      <li>複数のアプリケーションを導入・管理できる親子構造</li>
                      <li>定期的な自動バックアップを行いたい</li>
                      <li>セキュリティ面でより優れた性能を求める</li>
                      <li>開発・テスト・本番など複数環境を用いた高度な開発プロセスが必要</li>
                      <li>NocoBaseチームからの専属利用コンサルティングを受けたい</li>
                      <li>64 ポイントの商業プラグイン交換用ポイントを付与</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>エンタープライズ版，お問い合わせください</h5>
                    <small class="text-muted mb-0">大規模アプリや企業ニーズに応える</small>
                  </div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">さらに必要な場合</h6>
                    <ul class="text-muted">
                      <li>NocoBaseを用いて顧客向けの上位アプリケーションを開発したい</li>
                      <li>NocoBaseアプリケーションをクラスター構成でデプロイしたい</li>
                      <li>各ユーザーの操作を詳細に記録する監査ログが欲しい</li>
                      <li>ログ、監視指標、トレーシングを含むテレメトリに関する専門的要求がある</li>
                      <li>サードパーティLLMを統合し、システム全体でAI機能を活用したい</li>
                      <li>NocoBaseチームがあなたの必要な機能をロードマップで優先的に対応</li>
                      <li>NocoBaseチームによるより迅速な応答と長期的な専属サポート</li>
                      <li>コアチームによる専用の拡張開発提案（プラグイン開発、第三者システム連携など）</li>
                      <li>NocoBaseが開発するすべての現在および将来の商用プラグインを無制限に使用できます</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>ホワイトラベル版，お問い合わせください</h5>
                    <small class="text-muted mb-0">ブランドカスタマイズソリューションを提供</small>
                  </div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">さらに必要な場合</h6>
                    <ul class="text-muted">
                      <li>NocoBaseを自社製品に統合することで、垂直型のノーコード/ローコードソリューションを提供できます。</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->
          </div><!--end timeline page-->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- どのエディションを選ぶか End -->

  <!-- エディション比較 Start -->
  <section class="section pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <div class="position-relative">
              <h4 class="title mb-4">詳細比較</h4>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row align-items-center">
        <div class="col-12">
          <div class="component-wrapper">
            <div class="p-4">
              <div class="table-responsive bg-white">
                <table class="table mb-0 table-center commercial-table">
                  <thead class="">
                  <tr>
                    <th scope="col" class="col-md-4 text-nowrap"></th>
                    <th scope="col" class="col-md-2 text-nowrap"><h5 class="text-primary mb-0">コミュニティ版</h5></th>
                    <th scope="col" class="col-md-2 text-nowrap"><h5 class="text-primary mb-0">スタンダード版</h5></th>
                    <th scope="col" class="col-md-2 text-nowrap"><h5 class="text-primary mb-0">プロフェッショナル版</h5></th>
                    <th scope="col" class="col-md-2 text-nowrap"><h5 class="text-primary mb-0">エンタープライズ版</h5></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="compare-item text-muted">価格</td>
                    <td class="fw-bold fst-italic">無料</td>
                    <td class="fw-bold fst-italic">$800</td>
                    <td class="fw-bold fst-italic">$8,000</td>
                    <td class="fw-bold fst-italic">お問い合わせ</td>
                  </tr>
                  <tr>
                    <th class="compare-item">ライセンス</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">ライセンス種別</td>
                    <td>AGPL 3.0</td>
                    <td>商用ライセンス</td>
                    <td>商用ライセンス</td>
                    <td>商用ライセンス</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">永久ライセンス<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="ライセンスは永久有効で、一度購入すれば再度の支払いは不要。"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">アップグレード有効期間<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="有効期間内は常に最新バージョンへアップグレード可能。有効期間終了後は現在バージョンを永久無料使用可能。"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td>-</td>
                    <td>1年</td>
                    <td>1年</td>
                    <td>1年</td>
                  </tr>
                  <tr>
                    <th class="compare-item">商業プラグイン</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">付与ポイント数<a href="/ja/plugins-bundles" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td>-</td>
                    <td>P8</td>
                    <td>P64</td>
                    <td>無限</td>
                  </tr>
                  <tr>
                    <th class="compare-item">利用制限</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">ユーザー数無制限</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">アプリ数無制限</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">データ量無制限</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">無料または商業プラグインのインストール</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">社内向けアプリ開発</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">自作コード・プラグインを非公開にできる</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="自作コードやプラグインはAGPL 3.0でのオープンソース義務あり"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">インターフェースで自社ブランド使用</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="NocoBaseの著作権・バージョン情報の改変や削除は不可"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">顧客向けアプリの開発</td>
                    <td>-</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">特性</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">マルチアプリケーション **<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="複数のNocoBaseインスタンスを「親-子」アプリとして組み合わせて使用"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">移行とリリース管理<a href="https://docs-jp.nocobase.com/handbook/release-management" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">クラスターデプロイ<a href="https://docs-jp.nocobase.com/welcome/getting-started/deployment/cluster-mode" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">遥測(テレメトリ)<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="ログ、メトリクス、トレース"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">メール連携<a href="https://docs-jp.nocobase.com/handbook/email-manager/usage-admin" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">AI従業員<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="様々なスキルを持つAI従業員をビジネスシステムにシームレスに統合し、人間の作業者の効率化を支援します"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">近日公開予定...</td>
                    <td style="font-size: 20px;"><i class="fea icon-ex-md me-2 mt-1 uil uil-smile"></i></td>
                    <td style="font-size: 20px;"><i class="fea icon-ex-md me-2 mt-1 uil uil-smile-beam"></i></td>
                    <td style="font-size: 20px;"><i class="fea icon-ex-md me-2 mt-1 uil uil-grin"></i></td>
                    <td style="font-size: 20px;"><i class="fea icon-ex-md me-2 mt-1 uil uil-laughing"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">セキュリティ</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">暗号化ストレージ<a href="https://docs-jp.nocobase.com/handbook/environment-variables" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Tokenポリシー<a href="https://docs-jp.nocobase.com/handbook/token-policy" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">パスワードポリシー<a href="https://docs-jp.nocobase.com/handbook/password-policy" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">ユーザーロックアウト<a href="https://docs-jp.nocobase.com/handbook/password-policy/user-lockout" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">自動バックアップ<a href="https://docs-jp.nocobase.com/handbook/backups" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">API暗号化通信<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="数据在 HTTP 传输过程中加密"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">IP制限<a href="https://docs-jp.nocobase.com/handbook/IP-restriction" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">二要素認証(2FA)<a href="https://docs-jp.nocobase.com/handbook/two-factor-authentication" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">監査ログ<a href="https://docs-jp.nocobase.com/handbook/audit-logger" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="詳細情報"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">サポート</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">コミュニティサポート</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">専属かつ迅速なバグ修正</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">専属の利用コンサルティング</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">専属の拡張開発コンサルティング</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">新機能に対する優先的な開発対応</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">電話サポート</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">リアルタイムチャットサポート</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">サポート有効期間</td>
                    <td>-</td>
                    <td>1年</td>
                    <td>1年</td>
                    <td>1年</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">コンサルティング工数(チケット数)<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="サポート期間中、バグ報告を除く一定数の使用コンサルティングを受けられる。超過分は別途購入可能。"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td>-</td>
                    <td>-</td>
                    <td>15</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">拡張開発支援(チケット数)<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="サポート期間中、NocoBaseコアチームがプラグイン開発や第三者システム連携などを支援。超過分は別途購入可能。"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">初回応答時間</td>
                    <td>-</td>
                    <td>24時間</td>
                    <td>12時間</td>
                    <td>4時間</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <p class="para-desc text-muted fst-italic mt-4">**印の機能は、2025年第2四半期にリリース予定です。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- エディション比較 End -->

  <!-- FAQ start -->
  <section class="section pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center mb-4 pb-2">
            <h3 class="mb-4">よくある質問</h3>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="accordion" id="accordionExample">

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading1-1">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse1-1" aria-expanded="false" aria-controls="collapse1-1">
                  「永久ライセンス」とは？
                </button>
              </h2>
              <div id="collapse1-1" class="accordion-collapse border-0 collapse" aria-labelledby="heading1-1"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">有効期限がなく、年ごとの追加費用は不要。一度商用ライセンスまたは商用プラグインを購入すれば、そのルートバージョンを永久に使用できます。</p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading1-2">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse1-2" aria-expanded="false" aria-controls="collapse1-2">
                        アップグレード期間終了後も、アップグレードやテクニカルサポートを受け続けるにはどうすればいいですか？
                </button>
              </h2>
              <div id="collapse1-2" class="accordion-collapse border-0 collapse" aria-labelledby="heading1-2"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">アップグレード期間終了後も、現在のバージョンのNocoBaseは引き続き永久的にご利用いただけます。製品アップグレードおよびテクニカルサポートは、それぞれ初年度価格の30%で1年間再購入可能です。両方まとめて、または個別にご購入いただけます。</p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading2">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                        aria-expanded="false" aria-controls="collapse2">
                  商業環境で使うには必ず商用ライセンスが必要ですか？
                </button>
              </h2>
              <div id="collapse2" class="accordion-collapse border-0 collapse" aria-labelledby="heading2"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">いいえ。NocoBaseのコアとオープンソースプラグインはAGPL 3.0ライセンス下です。ライセンス遵守とNocoBaseの著作権・バージョン情報を表示すれば、商用環境でも無料で利用可能です。</p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading3">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  どのような場合に商用ライセンスが必要になりますか？
                </button>
              </h2>
              <div id="collapse3" class="accordion-collapse border-0 collapse" aria-labelledby="heading3"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0 pb-2">以下いずれかの要件がある場合は商用ライセンスが必要です：</p>
                  <ul class="text-muted">
                    <li>NocoBaseのコードを改変、または独自プラグインを開発したが、それらをAGPLでオープンソース化したくない場合</li>
                    <li>NocoBaseを自社製品に統合するが、自社製品をAGPLでオープンソース化したくない場合</li>
                    <li>フッターや右上隅などに表示されるNocoBaseの著作権・バージョン情報を自社ブランドに変更したい場合</li>
                    <li>動的アクセス管理、監査ログ、自動バックアップなど高度なセキュリティ機能が欲しい場合</li>
                    <li>マルチアプリ、環境隔離、分散アーキテクチャなど高度な開発・デプロイ機能が欲しい場合</li>
                    <li>NocoBaseチームからの高度な技術サポートを求める場合</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading4">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  商用ライセンス購入後、追加で商用プラグインを買う必要はありますか？
                </button>
              </h2>
              <div id="collapse4" class="accordion-collapse border-0 collapse" aria-labelledby="heading4"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0 pb-2">各商用ライセンスは一定のプラグインポイントが付与され、そのポイントを使って追加費用なしで商用プラグインを入手可能。ポイントを使い切った後にさらに商用プラグインが必要なら、個別購入が必要となります。</p>
                  <p class="answer text-muted mb-0 pb-2">個別購入時は：</p>
                  <ul class="text-muted">
                    <li>特定のプラグインのみが必要な場合、そのプラグインのみ購入</li>
                    <li>多数のプラグインが必要な場合、割引価格で<a href="https://www.nocobase.com/cn/plugins-bundles" target="_blank">プラグインパック</a>を先に購入し、その後にプラグインを交換</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading4-2">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse4-2" aria-expanded="false" aria-controls="collapse4-2">
                  商用ライセンスなしで商用プラグインだけを購入できますか？
                </button>
              </h2>
              <div id="collapse4-2" class="accordion-collapse border-0 collapse" aria-labelledby="heading4-2"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0 pb-2">可能です。商用プラグインは商用ライセンスとは独立しています。商用プラグインはオープンソース版または商用ライセンス版のNocoBase上で使用可能です。商用ライセンスを購入するとポイントが付与され、それで商用プラグインを引き換えできます。</p>
                  <p class="answer text-muted mb-0 pb-2">選択肢：</p>
                  <ul class="text-muted">
                    <li>商用ライセンスを購入し、その付与ポイントで任意の商用プラグインを引き換える</li>
                    <li>商用ライセンスを購入した上で、さらに追加で商用プラグインを別購入する</li>
                    <li>商用プラグインのみを購入し、オープンソース版NocoBaseの機能を拡張する</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading6">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  1つのライセンスで異なる会社向けにアプリ開発できますか？
                </button>
              </h2>
              <div id="collapse6" class="accordion-collapse border-0 collapse" aria-labelledby="heading6"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">スタンダード版は被許諾企業の内部利用に限定。プロフェッショナル版とエンタープライズ版は顧客向けアプリ開発や顧客への提供が可能です。</p>
                  <ul class="text-muted">
                    <li>提供する製品に顧客側の追加設定権限がなく、顧客は完成品をそのまま使用する場合、開発元が商用ライセンスを持つだけで問題ありません。</li>
                    <li>提供する製品に顧客がNocoBaseのノーコード構築機能を用いて自らの用途に合わせて再設定・再開発できる権限がある場合、顧客側も商用ライセンスが必要になります。</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading7">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  購入した商用プラグインは他社にも利用できますか？
                </button>
              </h2>
              <div id="collapse7" class="accordion-collapse border-0 collapse" aria-labelledby="heading7"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">商用プラグインはライセンスに紐づき、その使用範囲はライセンス種別により異なります。プロフェッショナル版やエンタープライズ版ライセンスを持っていれば、購入した商用プラグインを用いて顧客向けアプリ開発が可能です。</p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading8">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  違うエディションへ切り替えることは可能ですか？
                </button>
              </h2>
              <div id="collapse8" class="accordion-collapse border-0 collapse" aria-labelledby="heading8"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    低いエディションから高いエディションへのアップグレードは可能ですが、高いエディションから低いエディションへのダウングレードはできません。<br/>
                    アップグレード時は残りのアップグレード有効期間に応じて差額を精算し、付与されるプラグインポイントも残存期間に比例して計算されます。<br/>
                    例：現在スタンダード版でアップグレード有効期間が6ヶ月残っている場合、プロフェッショナル版へのアップグレードは<br/>
                    $8000 - $800 * (6/12) = $7600 の追加支払いが必要となり
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading9">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  試せますか？
                </button>
              </h2>
              <div id="collapse9" class="accordion-collapse border-0 collapse" aria-labelledby="heading9"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    はい、もちろんです！NocoBaseのすべての商用プラグインが含まれる専用サンドボックス環境をすぐにセットアップできます：<a href="https://demo.nocobase.com/new" target="_blank">トライアルを開始</a><br>
                    サンドボックス環境は初期設定で48時間ご利用いただけます。さらに長いトライアルをご希望の場合は、hello@nocobase.comまでご連絡ください。
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div>
  </section>
  <!-- FAQ end -->

  <!-- 購入方法 start -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center text-center">
        <h3>購入方法</h3>
        <p class="para-desc text-center mx-auto text-muted">メールまたはWeChatで当社までご連絡いただき、コアチームと必要なプランを相談の上、NocoBase商用ユーザーサービスプラットフォームにログインして、必要なライセンス・プラグインを選択・発注し、購入手続きを行ってください。</p>
        <div class="mt-4 pt-2 text-center">
          <a href="https://www.nocobase.com/cn/contact" class="btn btn-primary">お問い合わせ <i class="uil uil-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- 購入方法 end -->
</Layout>


