---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPage } from "../../utils";

const page = await getPage("contact");

const title = page.title_ja || page.title;
const description = page.description_ja || page.description;
const keywords = page.keywords_ja || page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} description={description} />
  <!-- お問い合わせ開始 -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 mb-4 pb-4">
          <div class="d-flex contact-detail align-items-center mt-4">
            <div class="flex-1 content mb-4">
              <h4 class="title fw-bold mb-1">メールでお問い合わせ</h4>
              <a href="mailto:hello@nocobase.com" class="text-primary">hello@nocobase.com</a>
            </div>
          </div>
          <h4>私たちの所在地</h4>
          <div class="p-4 bg-light rounded shadow mb-4">
            私たちは、複数の国に拠点を持つリモートチームで、現在は以下のオフィスを展開しています。
            <ul class="list-unstyled text-muted mb-0">
              <li><i data-feather="arrow-right" class="text-primary fea icon-sm me-2"></i>シンガポール：#03-01, 112 Robinson Road, Singapore</li>
              <li><i data-feather="arrow-right" class="text-primary fea icon-sm me-2"></i>日本：東京都北区赤羽1-55-8 501</li>
            </ul>
          </div>
        </div><!--end col-->

        <div class="col-lg-6">
            <div class="card shadow border-0 rounded p-4" style="height: 850px;">
              <iframe src="https://service-en.nocobase.com/public-forms/tjggr7t1xxd" height="100%"></iframe>
            </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- お問い合わせ終了 -->
</Layout>


