---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPage, listPluginCategories } from "../../utils";

const tabs = [
  {
    title: "すべてのプラグイン",
    link: "/ja/plugins",
  },
  {
    title: "商用プラグイン",
    link: "/ja/plugins-commercial",
  },
  {
    title: "プラグインポイント",
    link: "/ja/plugins-bundles",
    active: true,
  },
];

const data = await listPluginCategories();
const page = await getPage("plugins");
const title = page.title_ja || page.title;
const description = page.description_ja || page.description;
const keywords = page.keywords_ja || page.keywords;
---

<Layout title="プラグインバンドル" description={description} keywords={keywords}>
  <PageHeader title={title} tabs={tabs}>
    <span slot="description" set:html={description}></span>
    <a href="/ja/contact" class="btn btn-outline-primary">プラグイン購入に関するお問い合わせ<i class="uil uil-angle-right-b"></i></a>
  </PageHeader>

    <!-- Section Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="card shadow border-0 rounded">
                        <div class="card-body">
                            <h5 class="card-title">プラグインポイントとは何ですか？</h5>
                            <p class="text-muted">NocoBaseは数十種類の商用プラグイン（増加中）を提供しています。ユーザーが必要なプラグインを柔軟に選べるよう、「プラグインポイント」という概念を導入しました。1ポイント = 50 USD。NocoBaseが開発した商用プラグインでは、プラグインを直接購入するだけでなく、ポイントを使って必要なプラグインと交換できます（ただし、サードパーティ製プラグインにはプラグインポイントは適用されません）。</p>

                            <p class="text-muted"><a href="/ja/plugins">プラグインリストページ</a>では、各プラグインの価格と対応するポイントが確認できます。例えば、「データソース：外部PostgreSQL」プラグインは$200または4 <i class="uil uil-moon-eclipse me-1"></i>です。</p>

                            <div class="col-lg-6 col-md-6 col-12 pt-0 pb-4">
                                <div style="color: inherit;" class="card rounded shadow border-0 plugin-card">
                                    <div class="card-body">
                                        <div class="mt-2 plugin-box">
                                            <h6 class="card-title mb-1">データソース: 外部PostgreSQL</h6>
                                            <div class="plugin-developer text-muted mb-3">By <span>NocoBase</span></div>
                                            <p class="text-muted mb-2 plugin-overview">外部のPostgreSQLデータベースをデータソースとして接続します。</p>
                                            <div class="plugin-footer">
                                                <h6 class="text-primary mb-0">
                                                    <span class="text-muted" style="font-weight: normal;font-style: italic;font-size: 12px;">永久使用、1年間アップグレード</span><br>
                                                    <a href="/ja/plugins-bundles">2 <i class="uil uil-moon-eclipse me-1"></i></a>
                                                    <span class="text-muted">/</span>
                                                    <span class="text-muted">$100</span>
                                                </h6>
                                                <h6 class="text-muted mb-0" style="margin-left: auto;font-weight: normal;">
                                                    <span class="text-muted" style="font-weight: normal;font-style: italic;font-size: 12px;">永久使用＆アップグレード</span><br>
                                                    <a href="/ja/plugins-bundles">4 <i class="uil uil-moon-eclipse me-1"></i></a>
                                                    <span class="text-muted">/</span>
                                                    <span class="text-muted">$200</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="text-muted">32 <i class="uil uil-moon-eclipse me-1"></i>を所有している場合、$100のプラグインを16個、または$200のプラグインを8個、または$800のプラグイン1個＋$200のプラグイン3個＋$100のプラグイン6個に交換することができます。</p>
                            <p class="text-muted">アカウント内の残りのポイントは有効期限がなく、すべてのプラグインを一度に選択する必要はありません。開発の進行に応じて徐々に選択できます。</p>

                            <h5 class="card-title mt-4">ポイントの獲得方法</h5>
                            <p class="text-muted">以下の方法でポイントを獲得できます：</p>
                            <ul class="text-muted">
                                <li><a href="/ja/commercial">商用ライセンス</a>を購入すると一定数のプラグインポイントが含まれます</li>
                                <li>プラグインバンドルを購入すると一定数のプラグインポイントが含まれます</li>
                                <li>代表ユーザーとして、会社や顧客がNocoBaseを使用するストーリーをコミュニティに共有すると、ポイントが贈呈されます。<a href="/ja/contact">お問い合わせはこちら</a></li>
                            </ul>

                            <h5 class="card-title mt-4">プラグインバンドルとは？</h5>
                            <p class="text-muted">会社の支払いプロセスが複雑な場合、NocoBaseプラグインを個別に購入するのは面倒かもしれません。そのため、プラグインバンドルを導入しました。プラグインバンドルには「ポイント」が含まれており、必要に応じてプラグインを選択し交換することができます。</p>
                            <p class="text-muted">また、プラグインバンドルには割引が適用され、購入するポイントが多いほど割引率が高くなります。</p>

                            <div class="table-responsive bg-white">
                                <table class="table mb-0 table-center commercial-table">
                                    <thead class="">
                                        <tr>
                                            <th scope="col" class="col-sm-4">バンドル名</th>
                                            <th scope="col" class="col-sm-2">ポイント</th>
                                            <th scope="col" class="col-sm-2">通常価格</th>
                                            <th scope="col" class="col-sm-2">割引</th>
                                            <th scope="col" class="col-sm-2">価格</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">P8</td>
                                            <td class="text-muted">8 <i class="uil uil-moon-eclipse me-1"></i></td>
                                            <td class="fst-italic text-muted">$400</td>
                                            <td class="fst-italic text-muted"> </td>
                                            <td class="fst-italic text-muted">$400</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">P16</td>
                                            <td class="text-muted">16 <i class="uil uil-moon-eclipse me-1"></i></td>
                                            <td class="fst-italic text-muted">$800</td>
                                            <td class="fst-italic text-muted">2%</td>
                                            <td class="fst-italic text-muted">$784</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">P32</td>
                                            <td class="text-muted">32 <i class="uil uil-moon-eclipse me-1"></i></td>
                                            <td class="fst-italic text-muted">$1,600</td>
                                            <td class="fst-italic text-muted">5%</td>
                                            <td class="fst-italic text-muted">$1,520</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">P64</td>
                                            <td class="text-muted">64 <i class="uil uil-moon-eclipse me-1"></i></td>
                                            <td class="fst-italic text-muted">$3,200</td>
                                            <td class="fst-italic text-muted">10%</td>
                                            <td class="fst-italic text-muted">$2,880</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">P128</td>
                                            <td class="text-muted">128 <i class="uil uil-moon-eclipse me-1"></i></td>
                                            <td class="fst-italic text-muted">$6,400</td>
                                            <td class="fst-italic text-muted">20%</td>
                                            <td class="fst-italic text-muted">$5,120</td>
                                        </tr>
                                        <tr>
                                            <td class="text-muted">無限</td>
                                            <td class="text-muted" colspan="3"><span style="font-weight: normal;font-style: italic;font-size: 12px;">NocoBaseが開発した現在および将来のすべての商用プラグインの使用ライセンスを付与します。</span></td>
                                            <td class="fst-italic text-muted">$10,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
</Layout><!--end section-->
