---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPage, listPluginCategories } from "../../utils";

const tabs = [
  {
    title: "すべてのプラグイン",
    link: "/ja/plugins",
  },
  {
    title: "商用プラグイン",
    link: "/ja/plugins-commercial",
  },
  {
    title: "プラグインバンドル",
    link: "/ja/plugins-bundles",
    active: true,
  },
];

const data = await listPluginCategories();
const page = await getPage("plugins");
const title = page.title_ja || page.title;
const description = page.description_ja || page.description;
const keywords = page.keywords_ja || page.keywords;
---

<Layout title="プラグインバンドル" description={description} keywords={keywords}>
  <PageHeader title={title} tabs={tabs}>
    <span slot="description" set:html={description}></span>
    <a href="/ja/contact" class="btn btn-outline-primary">プラグインの購入または販売<i class="uil uil-angle-right-b"></i></a>
  </PageHeader>

    <!-- Section Start -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="card shadow border-0 rounded">
                        <div class="card-body">
                            <h5 class="card-title">プラグインバンドルとは何ですか</h5>
                            <p class="text-muted">ビジネスの支払いプロセスが複雑な場合、NocoBaseプラグインを一つずつ購入するのは面倒かもしれません。そのため、私たちはプラグインのパッケージオプションを展開しました。プラグインバンドルを購入すると、"ポイント"が付属し、NocoBaseの実際の使用において、必要に応じてプラグインを選択し交換することができます。</p>
                            <p class="text-muted">また、プラグインバンドルには割引が適用され、購入するポイントが多ければ多いほど割引が大きくなります。</p>
                            <p class="text-muted">NocoBaseの商業用プラグインには、$200、$400、$800、$1,600の4つの異なる価格があります。プラグインバンドル内の各ポイントは$100に相当するため、これら4つの価格はそれぞれ2 <i class="uil uil-moon-eclipse me-1"></i>, 4 <i class="uil uil-moon-eclipse me-1"></i>, 8 <i class="uil uil-moon-eclipse me-1"></i>, 16 <i class="uil uil-moon-eclipse me-1"></i>に対応します。</p>
                            <p class="text-muted"><a href="/ja/plugins">プラグインリストページ</a>には、各プラグインの価格とそれに対応するポイントが表示されます。例えば、『データソース：外部PostgreSQL』プラグインは、$400または4 <i class="uil uil-moon-eclipse me-1"></i>で提供されています。</p>

                            <div class="col-lg-6 col-md-6 col-12 pt-0 pb-4">
                                <div style="color: inherit;" class="card rounded shadow border-0 plugin-card">
                                    <div class="card-body">
                                        <div class="mt-2 plugin-box">
                                            <h6 class="card-title mb-1">データソース: 外部PostgreSQL</h6>
                                            <div class="plugin-developer text-muted mb-3">By <span>NocoBase</span></div>
                                            <p class="text-muted mb-2 plugin-overview">外部PostgreSQLデータベースをデータソースとして使用する。</p>
                                            <div class="plugin-footer">
                                                <h6 class="text-primary mb-0"> <span class="text-muted" style="font-weight: normal;font-style: italic;font-size: 12px;">永久使用、1年間アップグレード</span><br>
                                                    $200 <span class="text-muted">/</span> <a class="text-muted" href="/en/plugins-bundles"> 2 <i class="uil uil-moon-eclipse me-1"></i></a> </h6>
                                                <h6 class="text-muted mb-0" style="margin-left: auto;font-weight: normal;"> <span class="text-muted" style="font-weight: normal;font-style: italic;font-size: 12px;">永久使用＆アップグレード</span><br>
                                                    $400 <span class="text-muted">/</span> <a class="text-muted" href="/en/plugins-bundles"> 4 <i class="uil uil-moon-eclipse me-1"></i></a> </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="text-muted">32ポイントのプラグインバンドルを購入した場合、各$200のプラグインを16個、または各$400のプラグインを8個、あるいは$800のプラグイン1個＋$400のプラグイン3個＋$200のプラグイン6個に交換できます。</p>
                            <p class="text-muted">プラグインバンドルの残りのポイントは期限がなく、すべてのプラグインを一度に選択する必要はありません。開発プロセスを通じて徐々に選択できます。</p>

                            <h5 class="card-title mt-4">プラグインバンドル</h5>

                            <div class="table-responsive bg-white">
                                <table class="table mb-0 table-center commercial-table">
                                    <thead class="">
                                    <tr>
                                        <th scope="col" class="col-sm-4">バンドル名</th>
                                        <th scope="col" class="col-sm-2">ポイント</th>
                                        <th scope="col" class="col-sm-2">通常価格</th>
                                        <th scope="col" class="col-sm-2">割引</th>
                                        <th scope="col" class="col-sm-2">価格</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-muted">P32</td>
                                        <td class="text-muted">32 <i class="uil uil-moon-eclipse me-1"></i></td>
                                        <td class="fst-italic text-muted">$3,200</td>
                                        <td class="fst-italic text-muted">5%</td>
                                        <td class="fst-italic text-muted">$3,040</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">P64</td>
                                        <td class="text-muted">64 <i class="uil uil-moon-eclipse me-1"></i></td>
                                        <td class="fst-italic text-muted">$6,400</td>
                                        <td class="fst-italic text-muted">10%</td>
                                        <td class="fst-italic text-muted">$5,760</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">P128</td>
                                        <td class="text-muted">128 <i class="uil uil-moon-eclipse me-1"></i></td>
                                        <td class="fst-italic text-muted">$12,800</td>
                                        <td class="fst-italic text-muted">20%</td>
                                        <td class="fst-italic text-muted">$10,240</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted">P256</td>
                                        <td class="text-muted">256 <i class="uil uil-moon-eclipse me-1"></i></td>
                                        <td class="fst-italic text-muted">$25,600</td>
                                        <td class="fst-italic text-muted">30%</td>
                                        <td class="fst-italic text-muted">$17,920</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
</Layout><!--end section-->
