---
import FormattedDate from "../../../../components/FormattedDate.astro";
import PageHeader from "../../../../components/PageHeader.astro";
import Pagination from "../../../../components/Pagination.astro";
import Tags from "../../../../components/Tags.astro";
import Layout from "../../../../layouts/Layout.astro";
import { getPage, listArticleTags, listArticles, url } from "../../../../utils";
import BlogSidebar from "../../../../components/BlogSidebar.astro";

const pageData = await getPage("blog");

const title = pageData.title_ja || pageData.title;
const description = pageData.description_ja || pageData.description;
const keywords = pageData.keywords_ja || pageData.keywords;

const basepath = "/ja/blog";
const { page } = Astro.params as { page?: number };
const { data, meta } = await listArticles({ hideOnBlog: false, page });
const tags = await listArticleTags({
  filter: {
    displayOnBlog: true,
  },
});
const tabs = [
  {
    title: "ホーム",
    link: "/ja/",
  },
  {
    title: "ブログ",
    active: true,
  }
];

const socialLinks = [
  {
    name: "github",
    icon: "fab fa-github",
    url: "https://github.com/nocobase"
  },
  {
    name: "twitter",
    icon: "fab fa-twitter", 
    url: "https://twitter.com/nocobase"
  },
  {
    name: "discord",
    icon: "fab fa-discord",
    url: "https://discord.gg/nocobase"
  }
];
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader showRSS title={title} description={description} breadcrumb={tabs}>
    <Tags basepath={basepath} items={tags} locale="ja"/>
  </PageHeader>
  <section class="section">
    <div class="container">
      <div class="row">
        <main class="col-md-8">
          <section>
            <ul class="articles">
              {
                data.map((post, index) => (
                  <li>
                    <a href={`${basepath}/${post.slug}`}>
                      <img
                        style="object-fit: cover;"
                        width={720}
                        height={index === 0 ? 360 : 240}
                        src={url(post.cover.url)}
                        alt={post.title_ja || post.title}
                      />
                      <h4 class="title">{post.title_ja || post.title}</h4>
                      <p class="date">
                        <FormattedDate
                          locale="ja"
                          date={post.publishedAt || post.createdAt}
                        />
                      </p>
                    </a>
                  </li>
                ))
              }
            </ul>
          </section>
          <Pagination
            basepath={basepath}
            currentPage={page}
            pageSize={meta.pageSize}
            total={meta.count}
            totalPages={meta.totalPage}
          />
        </main>

        <BlogSidebar
          basepath={basepath}
          description={description}
          recentPosts={data}
          socialLinks={socialLinks}
          lang="ja"
        />
      </div>

      <div class="mt-4">
        <div class="d-flex align-items-center">
          <span class="me-2">フォローする:</span>
          <ul class="list-unstyled social-icon d-flex gap-2 mb-0">
            {socialLinks.map(link => (
              <li>
                <a
                  href={link.url}
                  class="btn btn-sm btn-light rounded-circle"
                  target="_blank"
                  rel="noopener"
                >
                  <i class={link.icon}></i>
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>
