---
import PageHeader from "../../components/PageHeader.astro";
import BaseLayout from "../../layouts/BaseEN.astro";
import { getPage } from "../../utils";

const page = await getPage("commercial");

const title = page.title;
const description = page.description;
const keywords = page.keywords;
---

<BaseLayout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} description={description} />
  <!-- Which Edition Start -->
  <section class="section pb-0" id="experience">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <div class="position-relative">
              <h4 class="title mb-4">Quelle édition choisir&nbsp;?</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-4 pt-2">
          <div class="timeline-page position-relative">
            <div class="timeline-item">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>Community Edition, Gratuit</h5>
                    <small class="text-muted mb-0">Le choix adapté à la majorité des équipes</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">À privilégier lorsque vous avez besoin</h6>
                    <ul class="text-muted">
                      <li>D’une plateforme no-code servant d’infrastructure à votre équipe pour construire des applications métiers et des outils internes</li>
                      <li>De l’intégralité du code source, d’un déploiement sur vos propres serveurs et d’un contrôle total</li>
                      <li>D’un socle fonctionnel riche permettant de couvrir la plupart des besoins standard</li>
                      <li>De la majorité des capacités d’agents IA (AI employees) prêtes à l’emploi</li>
                      <li>De la liberté d’étendre les fonctionnalités sans verrouillage éditeur</li>
                      <li>D’un nombre illimité d’applications, sans limite d’utilisateurs ni de volume de données</li>
                      <li>D’accepter l’affichage discret du logo NocoBase dans l’interface</li>
                      <li>D’un appui de la communauté NocoBase pour les questions techniques</li>
                      <li>D’être en mesure de contribuer vos plugins développés à la communauté open source</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>Standard Edition, $800</h5>
                    <small class="text-muted mb-0">L’édition idéale pour un usage récurrent</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">À choisir lorsque vous avez aussi besoin</h6>
                    <ul class="text-muted">
                      <li>De conserver votre code et vos plugins en mode propriétaire (non open source)</li>
                      <li>De remplacer la marque NocoBase dans l’interface par la vôtre</li>
                      <li>De connecter des bases externes comme MySQL et PostgreSQL à NocoBase en tant que sources de données</li>
                      <li>D’importer ou d’exporter de gros volumes de données avec Excel</li>
                      <li>D’un paiement unique pour un droit d’usage à vie</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>Professional Edition, $8,000</h5>
                    <small class="text-muted mb-0">Pensée pour les équipes expertes et les intégrateurs</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">À choisir lorsque vous avez aussi besoin</h6>
                    <ul class="text-muted">
                      <li>De construire des applications pour vos clients avec NocoBase</li>
                      <li>De donner aux agents IA des capacités avancées</li>
                      <li>Du SSO (authentification unique)</li>
                      <li>De fonctionnalités de workflow avancées telles que les approbations, les sous-flux et les webhooks</li>
                      <li>De capacités de sécurité renforcées</li>
                      <li>D’enregistrer et d’afficher l’historique complet des modifications de chaque enregistrement</li>
                      <li>De sauvegardes automatiques planifiées des données</li>
                      <li>D’exigences plus élevées pour les workflows de développement avec des environnements de développement, de test et de production</li>
                      <li>D’un accompagnement à l’usage dédié par l’équipe NocoBase</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>Enterprise Edition, Nous contacter</h5>
                    <small class="text-muted mb-0">Pour les grands systèmes et organisations exigeantes</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">À choisir lorsque vous avez aussi besoin</h6>
                    <ul class="text-muted">
                      <li>Du déploiement en cluster des applications NocoBase</li>
                      <li>D’une journalisation détaillée de chaque action utilisateur pour l’audit</li>
                      <li>De connecter des sources de données externes telles qu’Oracle, ClickHouse et Doris à NocoBase</li>
                      <li>D’utiliser une architecture multi-application pour déployer et gérer plusieurs applications pour des scénarios multi-tenant</li>
                      <li>D’utiliser la fonctionnalité multi-space pour déployer et gérer plusieurs espaces pour des scénarios multi-magasin ou multi-usine</li>
                      <li>D’exigences de télémétrie professionnelles, notamment les logs, les métriques de monitoring et les traces</li>
                      <li>D’intégrer Gmail, Outlook et d’autres services e-mail, et d’utiliser des fonctionnalités comme les approbations par signature manuscrite</li>
                      <li>De donner aux agents IA des capacités avancées</li>
                      <li>D’accéder au code source complet de l’édition commerciale</li>
                      <li>De prioriser les fonctionnalités dont vous avez besoin dans la feuille de route NocoBase</li>
                      <li>De temps de réponse plus rapides et d’un support dédié plus long de l’équipe NocoBase</li>
                      <li>De solutions dédiées de développement d’extensions par l’équipe NocoBase, notamment des plugins et des intégrations tierces</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->


          </div><!--end timeline page-->
          <!-- TIMELINE END -->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!--Which Editon End-->

  <!-- Licenses Start -->
  <section class="section pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <div class="position-relative">
              <h4 class="title mb-4">Comparer les éditions</h4>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row align-items-center">
        <div class="col-12">
          <div class="component-wrapper">
            <div class="p-4">
              <div class="table-responsive bg-white">
                <table class="table mb-0 table-center commercial-table">
                  <thead class="">
                  <tr>
                    <th scope="col" class="col-sm-4"></th>
                    <th scope="col" class="col-sm-2"><h5 class="text-primary mb-0">Community<br>Edition</h5></th>
                    <th scope="col" class="col-sm-2"><h5 class="text-primary mb-0">Standard<br>Edition</h5></th>
                    <th scope="col" class="col-sm-2"><h5 class="text-primary mb-0">Professional<br>Edition</h5></th>
                    <th scope="col" class="col-sm-2"><h5 class="text-primary mb-0">Enterprise<br>Edition</h5></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="compare-item text-muted">Tarif</td>
                    <td class="fw-bold fst-italic">Gratuit</td>
                    <td class="fw-bold fst-italic">$800</td>
                    <td class="fw-bold fst-italic">$8,000</td>
                    <td class="fw-bold fst-italic">Nous contacter</td>
                  </tr>
                  <tr>
                    <th class="compare-item">Licence</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Type de licence</td>
                    <td class="text-nowrap">Licence communautaire<a href="https://www.nocobase.com/en/agreement" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir le détail de la licence"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td class="text-nowrap">Licence commerciale<a href="https://www.nocobase.com/en/agreement" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir le détail de la licence"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td class="text-nowrap">Licence commerciale<a href="https://www.nocobase.com/en/agreement" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir le détail de la licence"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td class="text-nowrap">Licence commerciale<a href="https://www.nocobase.com/en/agreement" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Voir le détail de la licence"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Licence à vie<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="La licence est valable à vie, ce qui signifie que vous pouvez utiliser NocoBase de façon permanente sans repayer."> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Période de mises à jour<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Après l’obtention de la licence, vous pouvez mettre à jour vers la dernière version à tout moment pendant la période de validité des mises à jour. Après cette période, vous pouvez continuer à l’utiliser gratuitement et de façon permanente."> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td>-</td>
                    <td>1 an</td>
                    <td>1 an</td>
                    <td>1 an</td>
                  </tr>
                  <tr>
                    <th class="compare-item">Restrictions d’usage</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Utilisateurs illimités</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Applications illimitées</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Enregistrements illimités</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Développer des applications pour un usage interne</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted text-nowrap">Garder votre code et vos plugins en mode propriétaire</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Votre propre code et vos plugins doivent être open source sous licence AGPL 3.0."> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted text-nowrap">Utiliser votre propre marque dans l’interface</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Les informations de copyright et de version de NocoBase dans l’interface ne peuvent pas être modifiées ou supprimées."> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Développer des applications pour des clients</td>
                    <td>-</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Accès au code source de l’édition commerciale</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Cœur</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted text-nowrap">Piloté par le modèle de données<a href="https://v2.docs.nocobase.com/fr/data-sources" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Développement piloté par l’IA</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Développement WYSIWYG<a href="https://v2.docs.nocobase.com/fr/interface-builder" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Agents IA<a href="https://v2.docs.nocobase.com/fr/ai-employees" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Authentification des utilisateurs<a href="https://v2.docs.nocobase.com/fr/auth-verification/auth" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Rôles et permissions<a href="https://v2.docs.nocobase.com/fr/users-permissions/user" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Workflow<a href="https://v2.docs.nocobase.com/fr/workflow/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Flux d’événements<a href="https://v2.docs.nocobase.com/fr/interface-builder/event-flow" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Notifications<a href="https://v2.docs.nocobase.com/fr/notification-manager" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Localisation<a href="https://v2.docs.nocobase.com/fr/system-management/localization/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Architecture</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Architecture de plugins</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Gestion des migrations et des versions<a href="https://v2.docs.nocobase.com/fr/ops-management/release-management" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Applications multiples<a href="https://v2.docs.nocobase.com/fr/multi-app/multi-app/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Espaces multiples<a href="https://v2.docs.nocobase.com/fr/multi-app/multi-space" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Architecture en cluster<a href="https://v2.docs.nocobase.com/fr/cluster-mode" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Télémétrie<a href="https://v2.docs.nocobase.com/fr/log-and-monitor/telemetry/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Sources de données</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Source de données principale<a href="https://v2.docs.nocobase.com/fr/data-sources/data-source-main/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="MySQL, PostgreSQL, MariaDB"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Sources de données externes<a href="https://v2.docs.nocobase.com/fr/data-sources/data-source-manager/external-database" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="MySQL, PostgreSQL, MariaDB, SQL Server, Rest API"><i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="MySQL, PostgreSQL, MariaDB, SQL Server, Rest API"><i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="MySQL, PostgreSQL, MariaDB, SQL Server, Rest API, Oracle, ClickHouse, Doris"><i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Rôles et permissions</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Permissions système</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Permissions au niveau des champs pour les sources de données</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Permissions des routes</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Permissions des agents IA</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Agents IA</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Agents IA intégrés</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Extension libre des agents IA</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Système de développement des agents IA</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Les agents IA gèrent les tâches métier</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Connexion aux LLM courants</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Utiliser des outils et des compétences</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Utiliser des bases de connaissances RAG</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Workflow</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Moteur de workflow<a href="https://v2.docs.nocobase.com/fr/workflow" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Plusieurs types de déclencheurs</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Des dizaines de nœuds d’action</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Approbation<a href="https://v2.docs.nocobase.com/fr/workflow/triggers/approval" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Sous-flux<a href="https://v2.docs.nocobase.com/fr/workflow/nodes/subflow" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Webhook<a href="https://v2.docs.nocobase.com/fr/workflow/triggers/webhook" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Sécurité et authentification</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Variables et secrets<a href="https://v2.docs.nocobase.com/fr/ops-management/variables-and-secrets/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Politique de jeton<a href="https://v2.docs.nocobase.com/fr/security/token-policy/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Masquage de champs</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Chiffrement des champs<a href="https://v2.docs.nocobase.com/fr/data-sources/field-encryption" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Politique de mot de passe<a href="https://v2.docs.nocobase.com/fr/security/password-policy/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Verrouillage de compte<a href="https://v2.docs.nocobase.com/fr/security/password-policy/lockout" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Sauvegarde automatique<a href="https://v2.docs.nocobase.com/fr/ops-management/backup-manager" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Historique des enregistrements<a href="https://v2.docs.nocobase.com/fr/record-history/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">SSO<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="OIDC, SAML, LDAP, CAS, DingTalk"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a><a href="https://v2.docs.nocobase.com/fr/integration/sso/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Transmission API chiffrée<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Les données sont chiffrées lors de leur transmission HTTP"> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Restriction d’IP<a href="https://v2.docs.nocobase.com/fr/security/ip-restriction/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Journal d’audit<a href="https://v2.docs.nocobase.com/fr/security/audit-logger/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Authentification à deux facteurs (2FA)<a href="https://v2.docs.nocobase.com/fr/auth-verification/2fa/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Autres</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Import/export Excel</td>
                    <td>Petit volume<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Jusqu’à 2&nbsp;000 lignes par import/export"><i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td>Grand volume<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Des dizaines de milliers de lignes par import/export"><i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td>Grand volume<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Des dizaines de milliers de lignes par import/export"><i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td>Grand volume<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Des dizaines de milliers de lignes par import/export"><i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Accès aux fichiers privés<a href="https://v2.docs.nocobase.com/fr/data-sources/file-manager/storage/s3-pro" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Signatures manuscrites</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Impression de modèles<a href="https://v2.docs.nocobase.com/fr/template-print/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Intégration e-mail<a href="https://v2.docs.nocobase.com/fr/email-manager/" target="_blank" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Détails"> <i class="fea icon-ex-md me-2 mt-1 uil uil-external-link-alt"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Support</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Support communautaire</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Correctifs dédiés et rapides</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Conseil d’usage dédié</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Conseil dédié au développement d’extensions</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Priorisation des demandes de nouvelles fonctionnalités</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Support téléphonique</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Support par chat en direct</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Durée du support</td>
                    <td>-</td>
                    <td>1 an</td>
                    <td>1 an</td>
                    <td>1 an</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Nombre de tickets d’usage<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Pendant la période de support, vous pouvez recevoir un nombre défini de tickets d’assistance à l’usage (hors remontée de bugs). Au-delà, des tickets supplémentaires peuvent être achetés."> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td>-</td>
                    <td>-</td>
                    <td>Illimité</td>
                    <td>Illimité</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Nombre de tickets de développement<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Pendant la période de support, l’équipe cœur NocoBase vous assiste pour le développement de plugins, l’intégration de systèmes tiers, y compris la rédaction de documentation et de code cœur. Au-delà, des tickets supplémentaires peuvent être achetés séparément."> <i class="fea icon-ex-md me-2 mt-1 uil uil-question-circle" style="font-size: 18px;"></i></a></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Délai de première réponse</td>
                    <td>-</td>
                    <td>24 heures</td>
                    <td>12 heures</td>
                    <td>4 heures</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Licenses end -->

  <!-- FAQ start -->
  <section class="section pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center mb-4 pb-2">
            <h3 class="mb-4">Questions fréquentes</h3>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="accordion" id="accordionExample">

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading1-1">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse1-1" aria-expanded="false" aria-controls="collapse1-1">
                  Que signifie exactement «&nbsp;licence à vie&nbsp;»&nbsp;?
                </button>
              </h2>
              <div id="collapse1-1" class="accordion-collapse border-0 collapse" aria-labelledby="heading1-1"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    La licence n’a pas de date d’expiration et ne nécessite aucun renouvellement annuel. Une fois une licence commerciale achetée, vous disposez d’un droit d’usage permanent.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading1-2">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse1-2" aria-expanded="false" aria-controls="collapse1-2">
                  Comment continuer à bénéficier des mises à jour et du support après la fin de la période de mises à jour&nbsp;?
                </button>
              </h2>
              <div id="collapse1-2" class="accordion-collapse border-0 collapse" aria-labelledby="heading1-2"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    À l’issue de la période de mises à jour, vous pouvez continuer à utiliser votre version actuelle de NocoBase sans limite de temps. Pour bénéficier à nouveau d’un an de mises à jour et de support, il est possible de racheter ce service pour 30&nbsp;% du prix initial de la licence.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading2">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                        aria-expanded="false" aria-controls="collapse2">
                  Faut-il une licence commerciale pour utiliser NocoBase dans un contexte professionnel&nbsp;?
                </button>
              </h2>
              <div id="collapse2" class="accordion-collapse border-0 collapse" aria-labelledby="heading2"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    Non. Le cœur de NocoBase et les plugins open source sont distribués sous licence AGPL&nbsp;3.0. Tant que vous respectez cette licence et conservez les informations de copyright et de version NocoBase dans l’interface, vous pouvez l’utiliser gratuitement y compris dans un contexte commercial.
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading3">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  Dans quels cas dois-je acheter une licence commerciale&nbsp;?
                </button>
              </h2>
              <div id="collapse3" class="accordion-collapse border-0 collapse" aria-labelledby="heading3"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0 pb-2">
                    Une licence commerciale est nécessaire si vous vous trouvez dans l’un des cas suivants&nbsp;:
                  </p>
                  <ul class="text-muted">
                    <li>Vous avez modifié le code de NocoBase ou développé vos propres plugins et vous ne souhaitez pas publier ces développements sous licence AGPL.</li>
                    <li>Vous intégrez NocoBase dans votre propre produit et ne souhaitez pas que ce produit soit soumis à la licence AGPL.</li>
                    <li>Vous souhaitez remplacer les mentions de copyright et de version NocoBase (pied de page, coin supérieur droit) par votre propre marque.</li>
                    <li>Vous avez besoin de fonctionnalités de sécurité avancées, telles que la gestion dynamique des accès, les journaux d’audit et les sauvegardes automatiques.</li>
                    <li>Vous avez besoin de capacités avancées de développement et de déploiement&nbsp;: multi-applications, isolation par environnement, architecture distribuée, etc.</li>
                    <li>Vous souhaitez bénéficier d’un support technique avancé directement par l’équipe NocoBase.</li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading6">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  Une même licence peut-elle être utilisée pour plusieurs entreprises&nbsp;?
                </button>
              </h2>
              <div id="collapse6" class="accordion-collapse border-0 collapse" aria-labelledby="heading6"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    L’édition Standard est réservée aux usages internes de l’entité détentrice de la licence. Les éditions Professional et Enterprise permettent, elles, de développer des applications pour vos clients ou de commercialiser des solutions construites sur NocoBase.
                  </p>
                  <ul class="text-muted">
                    <li>
                      Si le produit livré au client ne lui donne pas accès aux fonctions de configuration, et qu’il se limite à l’utilisation de ce que vous avez développé, seule votre organisation doit détenir une licence commerciale.
                    </li>
                    <li>
                      Si le produit livré au client lui donne accès aux fonctions de configuration NocoBase (paramétrages, création de vues, automatisations, etc.), ce client doit lui aussi disposer d’une licence commerciale.
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading8">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  Est-il possible de changer d’édition par la suite&nbsp;?
                </button>
              </h2>
              <div id="collapse8" class="accordion-collapse border-0 collapse" aria-labelledby="heading8"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    Vous pouvez passer d’une édition inférieure à une édition supérieure, mais l’inverse n’est pas possible. Lors d’une montée d’édition, il suffit de payer la différence de prix entre les éditions.<br/>
                    Par exemple, si vous passez de l’édition Standard à l’édition Professional, la différence de prix est de&nbsp;:<br/>
                    8000 - 800 = 7200
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading9">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  Puis-je tester la solution avant de m’engager&nbsp;?
                </button>
              </h2>
              <div id="collapse9" class="accordion-collapse border-0 collapse" aria-labelledby="heading9"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    Oui, bien sûr. Vous pouvez créer en quelques instants un environnement de démonstration dédié incluant l’ensemble des plugins commerciaux NocoBase&nbsp;: <a href="https://demo.nocobase.com/new" target="_blank">Lancer un environnement de test</a><br>
                    L’environnement est valide pendant 48&nbsp;heures par défaut. Pour une période d’essai plus longue, vous pouvez nous contacter à&nbsp;: hello@nocobase.com
                  </p>
                </div>
              </div>
            </div>


          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div>
  </section>
  <!-- FAQ end -->

  <!-- Contact start -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center text-center">
        <h3>Comment acheter&nbsp;?</h3>
        <p class="para-desc text-center mx-auto text-muted">
          Contactez-nous par e-mail pour définir avec l’équipe cœur NocoBase le dispositif le plus adapté à votre organisation. Vous pourrez ensuite vous connecter à la plateforme de services commerciaux NocoBase, sélectionner les licences et plugins nécessaires, générer un bon de commande et finaliser votre achat.
        </p>
        <div class="mt-4 pt-2 text-center">
          <a href="https://www.nocobase.com/en/contact" class="btn btn-primary">
            Nous contacter <i class="uil uil-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact end -->
</BaseLayout>
