---
import PageHeader from "../../components/PageHeader.astro";
import BaseLayout from "../../layouts/BaseEN.astro";
import { getPage } from "../../utils";

const page = await getPage("commercial");

const title = page.title;
const description = page.description;
const keywords = page.keywords;
---

<BaseLayout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} description={description} />
  <!-- Which Edition Start -->
  <section class="section pb-0" id="experience">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <div class="position-relative">
              <h4 class="title mb-4">Which Edition to Choose</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-4 pt-2">
          <div class="timeline-page position-relative">
            <div class="timeline-item">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>Community Edition, Free</h5>
                    <small class="text-muted mb-0">The choice for most users</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">When you need</h6>
                    <ul class="text-muted">
                      <li>A no-code development platform as your team's infrastructure for building business systems and internal tools</li>
                      <li>Full source code, self-host, and complete control</li>
                      <li>Comprehensive and rich capabilities to meet most needs</li>
                      <li>Freedom to extend its features to meet personalized requirements without being locked in</li>
                      <li>Ability to install and develop plugins</li>
                      <li>Unlimited applications with no restrictions on the number of users or data volume</li>
                      <li>Acceptance of the NocoBase logo displayed unobtrusively on the interface</li>
                      <li>Technical support from the NocoBase community</li>
                      <li>Willingness to contribute developed plugins to the open-source community</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>Standard Edition, $800</h5>
                    <small class="text-muted mb-0">The best choice for regular use</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">When you also need</h6>
                    <ul class="text-muted">
                      <li>To keep your own code & plugins closed-source</li>
                      <li>To replace the NocoBase logo with your own brand information</li>
                      <li>A one-time payment for lifetime use</li>
                      <li>8 points to redeem commercial plugins</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>Professional Edition, $8,000</h5>
                    <small class="text-muted mb-0">Meets the needs of professional teams</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">When you also need</h6>
                    <ul class="text-muted">
                      <li>A parent-child architecture to deploy and manage multiple applications</li>
                      <li>Regular automatic data backups</li>
                      <li>Better performance in terms of security</li>
                      <li>Higher requirements for the development process, including multiple environments like development, testing, and production</li>
                      <li>Dedicated usage support from the NocoBase team</li>
                      <li>64 points to redeem commercial plugins</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>Enterprise Edition, Contact Us</h5>
                    <small class="text-muted mb-0">Meets the needs of large applications and enterprises</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">When you also need</h6>
                    <ul class="text-muted">
                      <li>To develop applications for your clients</li>
                      <li>Cluster deployment of NocoBase applications</li>
                      <li>Detailed logging of each user's actions</li>
                      <li>Professional requirements for telemetry, including logs, monitoring metrics, and tracing</li>
                      <li>Integrates third-party LLM and provides AI capabilities throughout the entire system</li>
                      <li>Priority for your required features in the NocoBase roadmap</li>
                      <li>Faster response and longer dedicated usage support from the NocoBase team</li>
                      <li>Customized extension development solutions from the core team</li>
                      <li>Licensed for all current and future commercial plugins developed by NocoBase.</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->

            <div class="timeline-item mt-5 pt-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="duration date-label-left position-relative text-md-end">
                    <h5>White Label Edition, Contact Us</h5>
                    <small class="text-muted mb-0">Provide solutions for brand customization.</small>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mt-4 mt-sm-0">
                  <div class="event event-description-right float-left text-start">
                    <h6 class="title mb-1 text-capitalize">When you also need</h6>
                    <ul class="text-muted">
                      <li>Integrate NocoBase into your own products to offer vertical no-code/low-code solutions.</li>
                    </ul>
                  </div>
                </div><!--end col-->
              </div><!--end row-->
            </div><!--end timeline item-->
          </div><!--end timeline page-->
          <!-- TIMELINE END -->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!--Which Editon End-->

  <!-- Licenses Start -->
  <section class="section pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <div class="position-relative">
              <h4 class="title mb-4">Compare Editions</h4>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row align-items-center">
        <div class="col-12">
          <div class="component-wrapper">
            <div class="p-4">
              <div class="table-responsive bg-white">
                <table class="table mb-0 table-center commercial-table">
                  <thead class="">
                  <tr>
                    <th scope="col" class="col-sm-4"></th>
                    <th scope="col" class="col-sm-2"><h5 class="text-primary mb-0">Community<br>Edition</h5></th>
                    <th scope="col" class="col-sm-2"><h5 class="text-primary mb-0">Standard<br>Edition</h5></th>
                    <th scope="col" class="col-sm-2"><h5 class="text-primary mb-0">Professional<br>Edition</h5></th>
                    <th scope="col" class="col-sm-2"><h5 class="text-primary mb-0">Enterprise<br>Edition</h5></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="compare-item text-muted">Price</td>
                    <td class="fw-bold fst-italic">Free</td>
                    <td class="fw-bold fst-italic">$800</td>
                    <td class="fw-bold fst-italic">$8,000</td>
                    <td class="fw-bold fst-italic">Contact Us</td>
                  </tr>
                  <tr>
                    <th class="compare-item">Lisense</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">License type</td>
                    <td>AGPL 3.0</td>
                    <td>Commercial license</td>
                    <td>Commercial license</td>
                    <td>Commercial license</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Lifetime license<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="The license is valid for a lifetime, which means you can use NocoBase permanently without needing to pay again."><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Upgrade period<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="After obtaining the license, you can upgrade to the latest version at any time within the upgrade validity period. After the upgrade validity period ends, you can still use it for free permanently."><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td>-</td>
                    <td>1 year</td>
                    <td>1 year</td>
                    <td>1 year</td>
                  </tr>
                  <tr>
                    <th class="compare-item">Commercial plugins</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Points included<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Use points to redeem any commercial plugins"><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td> 0 </td>
                    <td> 4 </td>
                    <td> 32 </td>
                    <td> 64 </td>
                  </tr>
                  <tr>
                    <th class="compare-item">Usage restrictions</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Unlimited users</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Unlimited applications</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Unlimited records</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Install free or commercial plugins</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Develop applications for internal use</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Keep your code not open source</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Your own code and plugins have to be open source under AGPL 3.0 license."><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted text-nowrap">Use your own brand on the interface</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i><a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="The copyright and version information about NocoBase on the interface cannot be altered or removed."><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Develop applications for clients</td>
                    <td>-</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Features</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Multiple Applications **<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Use multiple NocoBase instances together in a 'parent-child' application approach."><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Migration Management <a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Migrate applications across different environments, enabling version control, release management, collaborative development, and application distribution."><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Cluster Deployment</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Telemetry<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Logs, Metrics, Traces"><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">AI Integration **<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Integrates third-party LLM and provides AI capabilities throughout the entire system"><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Security</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Encrypted Storage<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Encrypted storage for passwords, AKSK, and other sensitive data"><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Token Policy</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Password Policy</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Automatic Backup</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">API Encrypted Transmission<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Data is encrypted during HTTP transfer"><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">IP Restriction</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Two-Factor Authentication</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>

                  <tr>
                    <td class="compare-item text-muted">Audit Log</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <th class="compare-item">Supports</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Community support</td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Exclusive and timely bug fixing</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Exclusive usage consultation</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Exclusive consulting on development</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Priority scheduling for new features</td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="x" class="fea icon-ex-md text-danger me-2 mt-1"></i></td>
                    <td><i data-feather="check" class="fea icon-ex-md text-primary me-2 mt-1"></i></td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Support period</td>
                    <td>-</td>
                    <td>1 year</td>
                    <td>1 year</td>
                    <td>1 year</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Number of usage tickets<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="During the support period, you can receive usage support for a certain number of tickets (excluding bug reports). Beyond this limit, additional tickets can be purchased separately."><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td>-</td>
                    <td>-</td>
                    <td>15</td>
                    <td>30</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">Number of development tickets<a href="javascript:void" class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="During the support period, NocoBase core team assists you in developing plugins, integrating third-party systems, including writing documentation, and writing core code. Beyond this limit, additional tickets can be purchased separately."><i data-feather="help-circle" class="fea icon-ex-md me-2 mt-1"></i></a></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td class="compare-item text-muted">First response time</td>
                    <td>-</td>
                    <td>24 hours</td>
                    <td>12 hours</td>
                    <td>4 hours</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <p class="para-desc text-muted fst-italic mt-4">Features marked with ** will be released in the first quarter of 2025.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Licenses end -->

  <!-- FAQ start -->
  <section class="section pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center mb-4 pb-2">
            <h3 class="mb-4">Frequently asked questions</h3>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="accordion" id="accordionExample">

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading1-1">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse1-1" aria-expanded="false" aria-controls="collapse1-1">
                  How to understand "Lifetime license"?
                </button>
              </h2>
              <div id="collapse1-1" class="accordion-collapse border-0 collapse" aria-labelledby="heading1-1"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">There is no expiration date, and you don't need to pay annually.  Once you buy a commercial license or plugin, you get a lifetime license for permanent use.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading1-2">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse1-2" aria-expanded="false" aria-controls="collapse1-2">
                  How to continue getting upgrades after the upgrade validity period ends?
                </button>
              </h2>
              <div id="collapse1-2" class="accordion-collapse border-0 collapse" aria-labelledby="heading1-2"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">Once the upgrade validity period expires, you can keep using the current version of NocoBase permanently. To receive upgrades again, you can renew at any time for an additional year at 60% of the first year's price, but it no longer includes commercial plugin points.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading2">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                        aria-expanded="false" aria-controls="collapse2">
                  Do I need to purchase a commercial license to use it in a commercial environment?
                </button>
              </h2>
              <div id="collapse2" class="accordion-collapse border-0 collapse" aria-labelledby="heading2"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">No. The core of NocoBase and open-source plugins are licensed under the AGPL 3.0 license. As long as you comply with the license and retain the copyright information and version information of NocoBase on the interface, you can use it for free.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading3">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  When do I need to purchase a commercial license?
                </button>
              </h2>
              <div id="collapse3" class="accordion-collapse border-0 collapse" aria-labelledby="heading3"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0 pb-2">You need to purchase a commercial license if you have any of the following requirements:</p>
                  <ul class="text-muted">
                    <li>You have modified the code of NocoBase or extended your own plugins, but you do not want to open source these outputs under the AGPL license.</li>
                    <li>You integrate NocoBase into your product, but you do not want to open source your own product under the AGPL license.</li>
                    <li>You want to change the copyright and version information about NocoBase in the footer or in the upper right corner of the system to your own brand.</li>
                    <li>You want to obtain advanced security features, such as dynamic access management, audit logs, and automatic backups.</li>
                    <li>You want to obtain advanced development and deployment capabilities, such as multi-application, environment isolation, and distributed architecture.</li>
                    <li>You want to obtain advanced technical support from the NocoBase team.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading4">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  Do I need to purchase commercial plugins after buying a commercial license?
                </button>
              </h2>
              <div id="collapse4" class="accordion-collapse border-0 collapse" aria-labelledby="heading4"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0 pb-2">Each edition of the commercial license includes a certain number of plugin points, which can be used to redeem any commercial plugins without additional purchase. If you need more commercial plugins after using up the points, you will need to purchase them separately.</p>
                  <p class="answer text-muted mb-0 pb-2">When purchasing separately, you can:</p>
                  <ul class="text-muted">
                    <li>If you only need specific plugins, purchase them individually.</li>
                    <li>If you need multiple plugins, you can first buy a <a href="https://www.nocobase.com/en/plugins-bundles" target="_blank">plugin bundle</a> at a discounted price, then redeem the plugins.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading4-2">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse4-2" aria-expanded="false" aria-controls="collapse4-2">
                  Can I purchase commercial plugins without buying a commercial license?
                </button>
              </h2>
              <div id="collapse4-2" class="accordion-collapse border-0 collapse" aria-labelledby="heading4-2"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0 pb-2">Of course. Commercial plugins and commercial licenses are independent of each other. Commercial plugins provide advanced features and they can be installed on either an open-source or commercial licensed NocoBase. If you purchase a commercial license, it will come with a certain number of points that can be used to redeem any commercial plugins.</p>
                  <p class="answer text-muted mb-0 pb-2">You can:</p>
                  <ul class="text-muted">
                    <li>Purchase a commercial license and redeem any commercial plugins using the points included with the license.</li>
                    <li>Purchase a commercial license and buy additional commercial plugins separately.</li>
                    <li>Only purchase commercial plugins to add more functionality to the open-source version.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading6">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  Can a license be used to develop applications for different companies?
                </button>
              </h2>
              <div id="collapse6" class="accordion-collapse border-0 collapse" aria-labelledby="heading6"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">The Standard Edition is limited to authorized internal company use only; the Professional and Enterprise Editions can be used to develop applications for your own clients or to sell the developed applications to clients.</p>
                  <ul class="text-muted">
                    <li>If the product you provide to the client does not grant configuration permissions, and the client can only use the product you have developed as is, then only you need to have a commercial license.</li>
                    <li>If the product you provide to the client grants configuration permissions, allowing the client to modify and further develop your product using NocoBase's no-code configuration capabilities, then your client also needs to purchase a commercial license.</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading7">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                  Can commercial plugins be used for different companies?
                </button>
              </h2>
              <div id="collapse7" class="accordion-collapse border-0 collapse" aria-labelledby="heading7"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">Commercial plugins are tied to the license, and the scope of use is determined by the type of license. If you have a Professional or Enterprise Edition license, you can use the purchased commercial plugins to develop applications for your clients.</p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading8">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                  Can I switch between different editions?
                </button>
              </h2>
              <div id="collapse8" class="accordion-collapse border-0 collapse" aria-labelledby="heading8"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    You can upgrade from a lower edition to a higher edition, but you cannot downgrade from a higher edition to a lower one. <br/>
                    When upgrading, the price difference will be calculated based on the remaining upgrade validity period, and the points for commercial plugins will also be proportionally adjusted based on the remaining time. <br/>
                    For example, if you are currently using the Standard Edition and have 6 months left on your upgrade validity period, upgrading to the Professional Edition would require an additional payment: <br/>
                    8000 - 800 * (6/12) = 7600
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading9">
                <button class="accordion-button border-0 bg-light collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                  Can I try it out?
                </button>
              </h2>
              <div id="collapse9" class="accordion-collapse border-0 collapse" aria-labelledby="heading9"
                   data-bs-parent="#accordionExample">
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    Yes, absolutely! You can set up a dedicated sandbox environment in just a minute, which includes all NocoBase commercial plugins: <a href="https://demo.nocobase.com/new" target="_blank">Start Your Trial</a><br>
                    The sandbox environment is valid for 48 hours by default. If you require a longer trial, please contact us at hello@nocobase.com
                  </p>
                </div>
              </div>
            </div>


          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div>
  </section>
  <!-- FAQ end -->

  <!-- Contact start -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center text-center">
        <h3>How to purchase</h3>
        <p class="para-desc text-center mx-auto text-muted">Please email us to discuss the plan with our core team. Then, log into the NocoBase commercial user service platform to choose the necessary licenses and plugins, generate an order, and complete your purchase.</p>
        <div class="mt-4 pt-2 text-center">
          <a href="https://www.nocobase.com/en/contact" class="btn btn-primary">Contact us <i class="uil uil-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact end -->
</BaseLayout>
