---
import Layout from "../../layouts/Layout.astro";
import InteractiveDemo from "../../components/InteractiveDemo.astro";
import AIAvatar from '../../components/AIAvatar.astro';
import demoConfig from "../../data/demo-config-en.json";

const demo_20250928234035 = {
  "title": "",
  "subtitle": "",
  "mainSteps": [],
  "steps": [
    {
      "description": "",
      "title": "After deploying NocoBase, we start with an empty app.",
      "id": "Start"
    },
    {
      "id": "step-1-1",
      "description": "",
      "image": "https://static-docs.nocobase.com/S1.png",
      "button": {
        "id": "button2",
        "label": "First, configure the data model and data sources.",
        "position": {
          "right": "28.1%",
          "top": "13.1%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "description": "",
      "image": "https://static-docs.nocobase.com/S2.png",
      "button": {
        "id": "button3",
        "label": "NocoBase has a built-in main database, and you can also add external sources.",
        "position": {
          "right": "12.5%",
          "top": "12.8%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      },
      "id": "step-1-2"
    },
    {
      "id": "step-1-3",
      "description": "",
      "image": "https://static-docs.nocobase.com/S3.png",
      "button": {
        "id": "button5",
        "label": "Let’s create collections and fields in the main database.",
        "position": {
          "right": "22.0%",
          "top": "28.2%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-1-4",
      "description": "",
      "image": "https://static-docs.nocobase.com/S4.png",
      "button": {
        "id": "button5",
        "label": "Create collections here.",
        "position": {
          "right": "15.2%",
          "top": "20.5%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-1-5",
      "description": "",
      "image": "https://static-docs.nocobase.com/S5.png",
      "button": {
        "id": "button6",
        "label": "Let's create collections for Company, Contact, Opportunity, and Order.",
        "position": {
          "right": "26.5%",
          "top": "18.6%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-1-6",
      "description": "",
      "image": "https://static-docs.nocobase.com/S6.png",
      "button": {
        "id": "button7",
        "label": "Next, add fields to the collections.",
        "position": {
          "right": "21.2%",
          "top": "51.2%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-1-7",
      "description": "",
      "image": "https://static-docs.nocobase.com/S7.png",
      "button": {
        "id": "button8",
        "label": "Choose from dozens of field types.",
        "position": {
          "right": "19.7%",
          "top": "51.7%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-1-8",
      "description": "",
      "image": "https://static-docs.nocobase.com/S8.png",
      "button": {
        "id": "button9",
        "label": "Fields are now created for the collections.",
        "position": {
          "right": "42.5%",
          "top": "67.5%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "description": "",
      "targetStepId": null,
      "id": "Wait",
      "title": "Could things be simpler?"
    },
    {
      "id": "step-1-9",
      "description": "",
      "image": "https://static-docs.nocobase.com/S9.png",
      "button": {
        "id": "button11",
        "label": "Orin is a data modeling expert—let’s ask him for help.",
        "position": {
          "right": "22.2%",
          "top": "38.3%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-1-10",
      "description": "",
      "image": "https://static-docs.nocobase.com/S11-EN.png",
      "button": {
        "id": "button12",
        "label": "Tell Orin what we need",
        "position": {
          "right": "31.6%",
          "top": "86.2%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-1-11",
      "description": "",
      "image": "https://static-docs.nocobase.com/S12-EN.png",
      "button": {
        "id": "button13",
        "label": "Oh, Orin has designed the data model for us.",
        "position": {
          "right": "29.7%",
          "top": "39.4%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-1-12",
      "description": "",
      "image": "https://static-docs.nocobase.com/S13-EN.png",
      "button": {
        "id": "button14",
        "label": "Open the data model Orin created for us. Review, edit, and confirm.",
        "position": {
          "left": "22.8%",
          "top": "74.4%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-1-13",
      "description": "",
      "image": "https://static-docs.nocobase.com/S14-EN.png",
      "button": {
        "id": "button15",
        "label": "The collections and fields are now created successfully.",
        "position": {
          "left": "44.9%",
          "top": "89.1%"
        },
        "balloonPos": "up",
        "balloonLength": "medium"
      }
    },
    {
      "id": "Congratulations",
      "title": "The data model is ready. Close this window to continue.",
      "description": "",
      "targetStepId": null
    },
    {
      "id": " ",
      "title": " ",
      "description": "",
      "targetStepId": null
    }
  ]
};

const demo_20250929185215 = {
  "title": "",
  "subtitle": "",
  "mainSteps": [],
  "steps": [
    {
      "id": "Step Two",
      "title": "Add blocks to display data from the data source on the page.",
      "description": "Add blocks to display data from the data source on the page."
    },
    {
      "id": "step-2",
      "title": "Step 2",
      "description": "Switch to UI configuration mode to enter WYSIWYG development.",
      "image": "https://static-docs.nocobase.com/S2-1.png",
      "button": {
        "id": "button2",
        "label": "Switch to UI configuration mode to enter WYSIWYG development.",
        "position": {
          "right": "14.9%",
          "top": "13.5%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-3",
      "title": "Step 3",
      "description": "First, create a page.",
      "image": "https://static-docs.nocobase.com/S2-2.png",
      "button": {
        "id": "button3",
        "label": "First, create a page.",
        "position": {
          "left": "24.9%",
          "top": "14.1%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-4",
      "title": "Step 4",
      "description": " Add a table block to the page and select the Lead collection to display its data.",
      "image": "https://static-docs.nocobase.com/S2-3.png",
      "button": {
        "id": "button4",
        "label": " Add a table block to the page and select the Lead collection to display its data.",
        "position": {
          "left": "41.0%",
          "top": "39.9%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-5",
      "title": "Step 5",
      "description": "Configure the table block to display the fields we need.",
      "image": "https://static-docs.nocobase.com/S2-4.png",
      "button": {
        "id": "button5",
        "label": "Configure the table block to display the fields we need.",
        "position": {
          "right": "13.2%",
          "top": "21.7%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-6",
      "title": "Step 6",
      "description": "We also want to analyze industry distribution of “Leads” with a chart. Add a charts block.",
      "image": "https://static-docs.nocobase.com/S2-5.png",
      "button": {
        "id": "button6",
        "label": "We also want to analyze industry distribution of “Leads” with a chart. Add a charts block.",
        "position": {
          "left": "13.9%",
          "top": "64.7%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-7",
      "title": "Step 7",
      "description": "Configure the query and chart.",
      "image": "https://static-docs.nocobase.com/S2-6.png",
      "button": {
        "id": "button7",
        "label": "Configure the query and chart.",
        "position": {
          "right": "35.2%",
          "top": "41.3%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-8",
      "title": "Step 8",
      "description": "The industry distribution is now clearly visualized.",
      "image": "https://static-docs.nocobase.com/S2-7.png",
      "button": {
        "id": "button8",
        "label": "The industry distribution is now clearly visualized.",
        "position": {
          "left": "50%",
          "top": "50%"
        },
        "balloonPos": "up",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-9",
      "title": "Step 9",
      "description": "Next, we need a form to input “Leads” data. Add a form block select the Lead collection.",
      "image": "https://static-docs.nocobase.com/S2-8.png",
      "button": {
        "id": "button9",
        "label": "Next, we need a form to input “Leads” data. Add a form block select the Lead collection.",
        "position": {
          "left": "14.4%",
          "top": "52.9%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-10",
      "title": "Step 10",
      "description": "Configure the form block to display the fields we need.",
      "image": "https://static-docs.nocobase.com/S2-9.png",
      "button": {
        "id": "button10",
        "label": "Configure the form block to display the fields we need.",
        "position": {
          "left": "12.3%",
          "top": "79.2%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-11",
      "title": "Step 11",
      "description": "Finally, drag and arrange the blocks as needed. The page now has three blocks, all showing data from the “Leads” collection.",
      "image": "https://static-docs.nocobase.com/S2-10.png",
      "button": {
        "id": "button11",
        "label": "Finally, drag and arrange the blocks as needed. The page now has three blocks, all showing data from the “Leads” collection.",
        "position": {
          "left": "30.0%",
          "top": "14.5%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "Wait",
      "title": "What if we want a custom block?",
      "description": "What if we want a custom block?"
    },
    {
      "id": "step-13",
      "title": "Step 13",
      "description": "Add a JS Block.",
      "image": "https://static-docs.nocobase.com/S2-11.png",
      "button": {
        "id": "button13",
        "label": "Add a JS Block.",
        "position": {
          "left": "13.9%",
          "top": "78.1%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-14",
      "title": "Step 14",
      "description": "Nathan is a frontend expert—tell him what we need.",
      "image": "https://static-docs.nocobase.com/S2-12-EN.png",
      "button": {
        "id": "button14",
        "label": "Nathan is a frontend expert—tell him what we need.",
        "position": {
          "right": "28.0%",
          "top": "28.2%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-15",
      "title": "Step 15",
      "description": "Haha, Nathan has built the block for us.",
      "image": "https://static-docs.nocobase.com/S2-13.png",
      "button": {
        "id": "button15",
        "label": "Haha, Nathan has built the block for us.",
        "position": {
          "left": "13.7%",
          "top": "47.1%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "Congratulations",
      "title": "We now know how to display data on the page. Close this window to continue.",
      "description": "We now know how to display data on the page. Close this window to continue."
    },
    {
      "id": " ",
      "title": " ",
      "description": "",
      "targetStepId": null
    }
  ]
};

const demo_20250929192111 = {
  "title": "",
  "subtitle": "",
  "mainSteps": [],
  "steps": [
    {
      "id": "Step Three",
      "title": "Configure actions to process data.",
      "description": "Configure actions to process data."
    },
    {
      "id": "step-2",
      "title": "Step 2",
      "description": "We want to query, edit, add, and delete “Leads” data.",
      "image": "https://static-docs.nocobase.com/S3-1.png",
      "button": {
        "id": "button2",
        "label": "We want to query, edit, add, and delete “Leads” data.",
        "position": {
          "left": "37.1%",
          "top": "52.0%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-3",
      "title": "Step 3",
      "description": "In the table block, enable filter, add, import, and print.",
      "image": "https://static-docs.nocobase.com/S3-2.png",
      "button": {
        "id": "button3",
        "label": "In the table block, enable filter, add, import, and print.",
        "position": {
          "right": "10.3%",
          "top": "26.8%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-4",
      "title": "Step 4",
      "description": "We can also add actions for single rows.",
      "image": "https://static-docs.nocobase.com/S3-3.png",
      "button": {
        "id": "button4",
        "label": "We can also add actions for single rows.",
        "position": {
          "left": "48.3%",
          "top": "23.9%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-5",
      "title": "Step 5",
      "description": "In the form block, enable submit and trigger workflows.",
      "image": "https://static-docs.nocobase.com/S3-4.png",
      "button": {
        "id": "button5",
        "label": "In the form block, enable submit and trigger workflows.",
        "position": {
          "left": "24.6%",
          "top": "67.4%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-6",
      "title": "Step 6",
      "description": "Now we can perform various operations on the “Leads” collection.",
      "image": "https://static-docs.nocobase.com/S3-5.png",
      "button": {
        "id": "button6",
        "label": "Now we can perform various operations on the “Leads” collection.",
        "position": {
          "left": "50%",
          "top": "50%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "Next",
      "title": "What if we need a custom action?",
      "description": "What if we need a custom action?"
    },
    {
      "id": "step-8",
      "title": "Step 8",
      "description": "Let’s add a JS Action in the form block.",
      "image": "https://static-docs.nocobase.com/S3-6.png",
      "button": {
        "id": "button8",
        "label": "Let’s add a JS Action in the form block.",
        "position": {
          "left": "28.3%",
          "top": "80.5%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-9",
      "title": "Step 9",
      "description": "Call Nathan again and tell him what we need.",
      "image": "https://static-docs.nocobase.com/S3-7-EN.png",
      "button": {
        "id": "button9",
        "label": "Call Nathan again and tell him what we need.",
        "position": {
          "right": "30.1%",
          "top": "28.6%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-10",
      "title": "Step 10",
      "description": "Nathan has generated the code for us.",
      "image": "https://static-docs.nocobase.com/S3-8.png",
      "button": {
        "id": "button10",
        "label": "Nathan has generated the code for us.",
        "position": {
          "right": "21.7%",
          "top": "70.5%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-11",
      "title": "Step 11",
      "description": "Run it to see the result. Great — this action can fetch data from a third-party API and auto-fill the form.",
      "image": "https://static-docs.nocobase.com/S3-9.png",
      "button": {
        "id": "button11",
        "label": "Run it to see the result. Great — this action can fetch data from a third-party API and auto-fill the form.",
        "position": {
          "left": "18.4%",
          "top": "66.4%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "Congratulations",
      "title": "We have completed building a basic app. Close this window and explore more features.",
      "description": "We have completed building a basic app. Close this window and explore more features."
    },
    {
      "id": " ",
      "title": " ",
      "description": "",
      "targetStepId": null
    }
  ]
};

const demo_20250929193842 = {
  "title": "亲自试一试，3 步创建一个 CRM",
  "subtitle": "",
  "mainSteps": [],
  "steps": [
    {
      "id": "AI Employees",
      "title": "In NocoBase, you have many professional AI employees at your command.",
      "description": "In NocoBase, you have many professional AI employees at your command."
    },
    {
      "id": "step-2",
      "title": "Step 2",
      "description": "When filling in “Leads” data, ask Dex for help.",
      "image": "https://static-docs.nocobase.com/F1-1.png",
      "button": {
        "id": "button2",
        "label": "When filling in “Leads” data, ask Dex for help.",
        "position": {
          "left": "46.0%",
          "top": "76.5%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-3",
      "title": "Step 3",
      "description": "Send messy lead details and files to Dex.",
      "image": "https://static-docs.nocobase.com/F1-2.png",
      "button": {
        "id": "button3",
        "label": "Send messy lead details and files to Dex.",
        "position": {
          "right": "26.3%",
          "top": "61.1%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-4",
      "title": "Step 4",
      "description": "Dex organizes the data and auto-fills the form.",
      "image": "https://static-docs.nocobase.com/F1-3.png",
      "button": {
        "id": "button4",
        "label": "Dex organizes the data and auto-fills the form.",
        "position": {
          "right": "31.7%",
          "top": "66.7%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-5",
      "title": "Step 5",
      "description": "Then call Lexi to translate the form content into Thai.",
      "image": "https://static-docs.nocobase.com/F1-4.png",
      "button": {
        "id": "button5",
        "label": "Then call Lexi to translate the form content into Thai.",
        "position": {
          "right": "32.1%",
          "top": "64.5%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-6",
      "title": "Step 6",
      "description": "When new customer leads appear, ask Vera to research background information and assist decision-making.",
      "image": "https://static-docs.nocobase.com/F1-5.png",
      "button": {
        "id": "button6",
        "label": "When new customer leads appear, ask Vera to research background information and assist decision-making.",
        "position": {
          "right": "9.5%",
          "top": "6.7%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-7",
      "title": "Step 7",
      "description": "With one click, Vera searches the web and delivers a research report.",
      "image": "https://static-docs.nocobase.com/F1-6.png",
      "button": {
        "id": "button7",
        "label": "With one click, Vera searches the web and delivers a research report.",
        "position": {
          "right": "27.9%",
          "top": "50.0%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-8",
      "title": "Step 8",
      "description": "Viz helps us analyze data and generate visual reports.",
      "image": "https://static-docs.nocobase.com/F1-7.png",
      "button": {
        "id": "button8",
        "label": "Viz helps us analyze data and generate visual reports.",
        "position": {
          "right": "28.3%",
          "top": "56.0%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "More?",
      "title": "Can we have more employees to handle business or build systems?",
      "description": "Can we have more employees to handle business or build systems?"
    },
    {
      "id": "step-10",
      "title": "Step 10",
      "description": "Of course—go to the AI Employees management interface.",
      "image": "https://static-docs.nocobase.com/F1-8.png",
      "button": {
        "id": "button10",
        "label": "Of course—go to the AI Employees management interface.",
        "position": {
          "right": "22.3%",
          "top": "22.6%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-11",
      "title": "Step 11",
      "description": "Create your own AI employee, Max — a contract review expert.",
      "image": "https://static-docs.nocobase.com/F1-9.png",
      "button": {
        "id": "button11",
        "label": "Create your own AI employee, Max — a contract review expert.",
        "position": {
          "left": "48.8%",
          "top": "26.4%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-12",
      "title": "Step 12",
      "description": "Configure his skills, model, and knowledge base.",
      "image": "https://static-docs.nocobase.com/F1-10.png",
      "button": {
        "id": "button12",
        "label": "Configure his skills, model, and knowledge base.",
        "position": {
          "right": "16.8%",
          "top": "19.0%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-13",
      "title": "Step 13",
      "description": "Then place him wherever you need.",
      "image": "https://static-docs.nocobase.com/F1-11.png",
      "button": {
        "id": "button13",
        "label": "Then place him wherever you need.",
        "position": {
          "right": "15.2%",
          "top": "77.8%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-14",
      "title": "Step 14",
      "description": "Assign the tasks he should perform there.",
      "image": "https://static-docs.nocobase.com/F1-12.png",
      "button": {
        "id": "button14",
        "label": "Assign the tasks he should perform there.",
        "position": {
          "left": "50%",
          "top": "50%"
        },
        "balloonPos": "up",
        "balloonLength": "medium"
      }
    },
    {
      "id": "Congratulations",
      "title": "You now have many professional AI employees. Close this window and explore more features.",
      "description": "You now have many professional AI employees. Close this window and explore more features."
    },
    {
      "id": " ",
      "title": " ",
      "description": "",
      "targetStepId": null
    }
  ]
};

const demo_20250929200011 = {
  "title": "",
  "subtitle": "",
  "mainSteps": [],
  "steps": [
    {
      "id": "Workflow",
      "title": "Use workflows to orchestrate logic and automate processes.",
      "description": "Use workflows to orchestrate logic and automate processes."
    },
    {
      "id": "step-2",
      "title": "Step 2",
      "description": "We have built dozens of workflows to keep business running automatically in this application.",
      "image": "https://static-docs.nocobase.com/F2-1.png",
      "button": {
        "id": "button2",
        "label": "We have built dozens of workflows to keep business running automatically in this application.",
        "position": {
          "left": "50%",
          "top": "50%"
        },
        "balloonPos": "up",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-3",
      "title": "Step 3",
      "description": "Add a new workflow here and choose its trigger. There are plenty of triggers to pick from.",
      "image": "https://static-docs.nocobase.com/F2-2.png",
      "button": {
        "id": "button3",
        "label": "Add a new workflow here and choose its trigger. There are plenty of triggers to pick from.",
        "position": {
          "right": "49.7%",
          "top": "21.5%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-4",
      "title": "Step 4",
      "description": "Then configure its logic and actions.",
      "image": "https://static-docs.nocobase.com/F2-3.png",
      "button": {
        "id": "button4",
        "label": "Then configure its logic and actions.",
        "position": {
          "right": "23.1%",
          "top": "32.8%"
        },
        "balloonPos": "up",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-5",
      "title": "Step 5",
      "description": "Click the plus sign to add a node.",
      "image": "https://static-docs.nocobase.com/F2-4.png",
      "button": {
        "id": "button5",
        "label": "Click the plus sign to add a node.",
        "position": {
          "right": "47.7%",
          "top": "27.5%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-6",
      "title": "Step 6",
      "description": "There are dozens of node types to arrange, including flow control, calculation, data operations, manual steps, AI nodes, and more.",
      "image": "https://static-docs.nocobase.com/F2-5.png",
      "button": {
        "id": "button6",
        "label": "There are dozens of node types to arrange, including flow control, calculation, data operations, manual steps, AI nodes, and more.",
        "position": {
          "right": "48.7%",
          "top": "24.5%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-7",
      "title": "Step 7",
      "description": "Check out this running workflow.",
      "image": "https://static-docs.nocobase.com/F2-6.png",
      "button": {
        "id": "button7",
        "label": "Check out this running workflow.",
        "position": {
          "right": "37.8%",
          "top": "26.2%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-8",
      "title": "Step 8",
      "description": "You can trigger it manually to debug results.",
      "image": "https://static-docs.nocobase.com/F2-7.png",
      "button": {
        "id": "button8",
        "label": "You can trigger it manually to debug results.",
        "position": {
          "right": "22.5%",
          "top": "12.1%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-9",
      "title": "Step 9",
      "description": "You can record and switch versions.",
      "image": "https://static-docs.nocobase.com/F2-8.png",
      "button": {
        "id": "button9",
        "label": "You can record and switch versions.",
        "position": {
          "right": "15.9%",
          "top": "15.7%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-10",
      "title": "Step 10",
      "description": "You can view execution history.",
      "image": "https://static-docs.nocobase.com/F2-9.png",
      "button": {
        "id": "button10",
        "label": "You can view execution history.",
        "position": {
          "right": "46.2%",
          "top": "31.7%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-11",
      "title": "Step 11",
      "description": "You can view the execution log of each node.",
      "image": "https://static-docs.nocobase.com/F2-10.png",
      "button": {
        "id": "button11",
        "label": "You can view the execution log of each node.",
        "position": {
          "right": "37.4%",
          "top": "62.5%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-12",
      "title": "Step 12",
      "description": "Continue.",
      "image": "https://static-docs.nocobase.com/F2-11.png",
      "button": {
        "id": "button12",
        "label": "Continue.",
        "position": {
          "left": "50%",
          "top": "50%"
        },
        "balloonPos": "up",
        "balloonLength": "medium"
      }
    },
    {
      "id": "Congratulations",
      "title": "Workflows can keep your business running automatically. Close this window and explore more features.",
      "description": "Workflows can keep your business running automatically. Close this window and explore more features."
    },
    {
      "id": "",
      "title": "",
      "description": ""
    }
  ]
};

const demo_20250929200757 = {
  "title": "",
  "subtitle": "",
  "mainSteps": [],
  "steps": [
    {
      "id": "Permissions",
      "title": "Resource- and action-based access control model",
      "description": "Resource- and action-based access control model"
    },
    {
      "id": "step-2",
      "title": "Step 2",
      "description": "Create roles as needed",
      "image": "https://static-docs.nocobase.com/F3-1.png",
      "button": {
        "id": "button2",
        "label": "Create roles as needed",
        "position": {
          "left": "25.2%",
          "top": "21.9%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-3",
      "title": "Step 3",
      "description": "Assign system permissions to roles, including plugin permissions",
      "image": "https://static-docs.nocobase.com/F3-2.png",
      "button": {
        "id": "button3",
        "label": "Assign system permissions to roles, including plugin permissions",
        "position": {
          "left": "39.9%",
          "top": "29.5%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-4",
      "title": "Step 4",
      "description": "Configure data source permissions for each role",
      "image": "https://static-docs.nocobase.com/F3-3.png",
      "button": {
        "id": "button4",
        "label": "Configure data source permissions for each role",
        "position": {
          "left": "46.6%",
          "top": "31.3%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-5",
      "title": "Step 5",
      "description": "Set global permissions for each data source",
      "image": "https://static-docs.nocobase.com/F3-4.png",
      "button": {
        "id": "button5",
        "label": "Set global permissions for each data source",
        "position": {
          "right": "28.4%",
          "top": "44.9%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-6",
      "title": "Step 6",
      "description": "Configure permissions for each collection",
      "image": "https://static-docs.nocobase.com/F3-5.png",
      "button": {
        "id": "button6",
        "label": "Configure permissions for each collection",
        "position": {
          "left": "50%",
          "top": "50%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-7",
      "title": "Step 7",
      "description": "Configure action-level permissions for each dataset",
      "image": "https://static-docs.nocobase.com/F3-6.png",
      "button": {
        "id": "button7",
        "label": "Configure action-level permissions for each dataset",
        "position": {
          "right": "15.8%",
          "top": "36.2%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-8",
      "title": "Step 8",
      "description": "Configure action-level permissions for each field",
      "image": "https://static-docs.nocobase.com/F3-6.png",
      "button": {
        "id": "button8",
        "label": "Configure action-level permissions for each field",
        "position": {
          "right": "29.1%",
          "top": "56.7%"
        },
        "balloonPos": "up",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-9",
      "title": "Step 9",
      "description": "Configure route (menu) permissions",
      "image": "https://static-docs.nocobase.com/F3-7.png",
      "button": {
        "id": "button9",
        "label": "Configure route (menu) permissions",
        "position": {
          "right": "42.8%",
          "top": "24.4%"
        },
        "balloonPos": "up",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-10",
      "title": "Step 10",
      "description": "Configure AI employee permissions",
      "image": "https://static-docs.nocobase.com/F3-8.png",
      "button": {
        "id": "button10",
        "label": "Configure AI employee permissions",
        "position": {
          "right": "27.0%",
          "top": "23.5%"
        },
        "balloonPos": "up",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-11",
      "title": "Step 11",
      "description": "Define permission policies—when users have multiple roles, allow independent switching or merging",
      "image": "https://static-docs.nocobase.com/F3-9.png",
      "button": {
        "id": "button11",
        "label": "Define permission policies—when users have multiple roles, allow independent switching or merging",
        "position": {
          "left": "40.5%",
          "top": "22.9%"
        },
        "balloonPos": "right",
        "balloonLength": "medium"
      }
    },
    {
      "id": "Congratulations",
      "title": "NocoBase provides powerful permission control. Close this window to explore more features.",
      "description": "NocoBase provides powerful permission control. Close this window to explore more features."
    },
    {
      "id": "",
      "title": "",
      "description": ""
    }
  ]
};

const demo_20250929202533 = {
  "title": "",
  "subtitle": "",
  "mainSteps": [],
  "steps": [
    {
      "id": "Integration",
      "title": "Connect NocoBase with other applications.",
      "description": "Connect NocoBase with other applications."
    },
    {
      "id": "step-2",
      "title": "Step 2",
      "description": "Log in to NocoBase with SSO, supporting all common protocols.",
      "image": "https://static-docs.nocobase.com/W3-1.png",
      "button": {
        "id": "button2",
        "label": "Log in to NocoBase with SSO, supporting all common protocols.",
        "position": {
          "right": "12.4%",
          "top": "18.7%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-3",
      "title": "Step 3",
      "description": "Add an external application’s database as a data source in NocoBase.",
      "image": "https://static-docs.nocobase.com/W3-2.png",
      "button": {
        "id": "button3",
        "label": "Add an external application’s database as a data source in NocoBase.",
        "position": {
          "right": "12.6%",
          "top": "17.6%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-4",
      "title": "Step 4",
      "description": "Use an HTTP request node in a workflow to call third-party APIs.",
      "image": "https://static-docs.nocobase.com/W3-3.png",
      "button": {
        "id": "button4",
        "label": "Use an HTTP request node in a workflow to call third-party APIs.",
        "position": {
          "left": "47.8%",
          "top": "41.8%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-5",
      "title": "Step 5",
      "description": "Use a Webhook trigger in a workflow to receive requests from other applications.",
      "image": "https://static-docs.nocobase.com/W3-4.png",
      "button": {
        "id": "button5",
        "label": "Use a Webhook trigger in a workflow to receive requests from other applications.",
        "position": {
          "left": "47.3%",
          "top": "25.9%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-6",
      "title": "Step 6",
      "description": "NocoBase automatically generates HTTP APIs for other applications to use.",
      "image": "https://static-docs.nocobase.com/W3-5.png",
      "button": {
        "id": "button6",
        "label": "NocoBase automatically generates HTTP APIs for other applications to use.",
        "position": {
          "left": "50%",
          "top": "50%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-7",
      "title": "Step 7",
      "description": "Embed NocoBase pages into other applications.",
      "image": "https://static-docs.nocobase.com/W3-6.png",
      "button": {
        "id": "button7",
        "label": "Embed NocoBase pages into other applications.",
        "position": {
          "right": "15.7%",
          "top": "25.5%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-8",
      "title": "Step 8",
      "description": "Embed other applications’ pages into NocoBase.",
      "image": "https://static-docs.nocobase.com/W3-7.png",
      "button": {
        "id": "button8",
        "label": "Embed other applications’ pages into NocoBase.",
        "position": {
          "left": "48.8%",
          "top": "60.7%"
        },
        "balloonPos": "down",
        "balloonLength": "medium"
      }
    },
    {
      "id": "step-9",
      "title": "Step 9",
      "description": "Use JS Actions, JS Blocks, and more to freely integrate with third parties.",
      "image": "https://static-docs.nocobase.com/W3-8.png",
      "button": {
        "id": "button9",
        "label": "Use JS Actions, JS Blocks, and more to freely integrate with third parties.",
        "position": {
          "right": "34.3%",
          "top": "46.7%"
        },
        "balloonPos": "left",
        "balloonLength": "medium"
      }
    },
    {
      "id": "Congratulations",
      "title": "You can choose the right way to integrate NocoBase with your applications. Close this window to explore more features.",
      "description": "NocoBase can easily integrate with other applications. Close this window to explore more features."
    },
    {
      "id": "",
      "title": "",
      "description": ""
    }
  ]
};
---

<Layout>
  <!-- Hero Start -->
  <section class="bg-half-260 bg-light d-table w-100">
    <!-- <div class="bg-overlay"></div> -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title-heading text-center mt-4">
            <h1 class="display-4 fw-bold mb-3">The most extensible<br />AI-powered no-code platform</h1>
            <p class="para-desc mx-auto text-muted">
              Total control. Infinite extensibility. AI collaboration.<br />
              Enable your team to adapt quickly and cut costs dramatically.<br />
              No years of development. No millions wasted.<br />
              Deploy NocoBase in minutes — and take control of everything.
            </p>
            <div class="mt-4 pt-2">
              <a href="#section-video" title="Learn More" class="btn btn-primary mb-2">Learn More<i class="uil uil-arrow-down"></i></a>
            <a href="https://v8.demo.nocobase.com/new" target="_blank" class="btn btn-outline-primary mb-2">Try the Demo<i class="uil uil-angle-right-b"></i></a>

            </div>
          </div>

          <div class="row justify-content-center mt-5 pt-5" id="section-video">
          <div class="col-lg-10 text-center">
            <div class="home-video">
              <img src="https://static-docs.nocobase.com/video-cover-home.png" alt="" class="img-fluid rounded-md shadow-lg">
              <div class="bg-overlay rounded-md shadow-lg" style=""></div>
              <div class="play-icon">
                <a href="?fallback_url" class="play-btn lightbox" data-type="html" data-target="#nocobase_video_lightbox" title="Watch NocoBase Video">
                  <i class="mdi mdi-play text-primary rounded-circle shadow"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!--end row-->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- Hero End -->

  <!-- Demo Start -->
  <section class="section pb-0 mt-5" id="section-3-steps">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h3 class="title mb-4">Try it out: 3 steps to build <span class="text-primary fw-bold typewrite" data-period="2000" data-type='[ "CRM", "Project Management", "Ticketing System", "Inventory", "Order Management"]'></span></h3>
                    <p class="text-muted para-desc mx-auto mb-0">Start by defining the “Data Source”, then display the data with “Blocks”, and finally process the data using “Actions”.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        
        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            Work with <AIAvatar name="orin" /> to configure the "Data Source"
                        </h6>
                        <p class="text-muted para">Define your main database model, or connect external data sources.</p>
                        <a href="?fallback_url" data-type="html" data-target="#step1_lightbox" data-group="step1" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 Try it yourself <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Step 01.</li>
                            <li class="step-icon"><i class="uil uil-angle-double-right h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            Work with <AIAvatar name="nathan" /> to display data using "Blocks"
                        </h6>
                        <p class="text-muted para">Organize and present data visually with tables, forms, charts, calendars, and more.</p>
                        <a href="?fallback_url" data-type="html" data-target="#step2_lightbox" data-group="step2" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 Try it yourself <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Step 02.</li>
                            <li class="step-icon"><i class="uil uil-angle-double-right h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            Work with <AIAvatar name="nathan" /> to process data through "Actions"
                        </h6>
                        <p class="text-muted para">Add, edit, query, import, export, or trigger workflows to manage your data.</p>
                        <a href="?fallback_url" data-type="html" data-target="#step3_lightbox" data-group="step3" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 Try it yourself <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Step 03.</li>
                            <li class="step-icon"><i class="uil uil-file-check-alt h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End -->

  <!-- Advanced Feature Start -->
  <section class="section pb-0" id="section-advanced-feature">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h3 class="title mb-4">Next: explore more core features </h3>
                    <p class="text-muted para-desc mx-auto mb-0">Unlock powerful features like AI employees, workflows, and permissions to build smarter systems.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        
        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            <AIAvatar name="orin-green" />
                            <AIAvatar name="viz" />
                            <AIAvatar name="alex" />
                            <AIAvatar name="orin" /> 
                            Many AI employees at your side
                        </h6>
                        <p class="text-muted para">Use built-in or custom AI employees to handle many tasks.</p>
                        <a href="?fallback_url" data-type="html" data-target="#feat1_lightbox" data-group="feat1" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 Try it yourself <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Feat 01.</li>
                            <li class="step-icon"><i class="uil uil-smile-squint-wink h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            Orchestrate complex logic with workflows
                        </h6>
                        <p class="text-muted para">Automate processes and orchestrate complex business logic.</p>
                        <a href="?fallback_url" data-type="html" data-target="#feat2_lightbox" data-group="feat2" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 Try it yourself <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Feat 02.</li>
                            <li class="step-icon"><i class="uil uil-arrow-random h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            Fine-grained permissions for menus, data, and actions
                        </h6>
                        <p class="text-muted para">Control access at every level with fine-grained permissions.</p>
                        <a href="?fallback_url" data-type="html" data-target="#feat3_lightbox" data-group="feat2" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 Try it yourself <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Feat 03.</li>
                            <li class="step-icon"><i class="uil uil-check h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End -->

  <!-- Extend Start -->
  <section class="section" id="section-extend">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h3 class="title mb-4">Further: extend NocoBase in multiple ways</h3>
                    <p class="text-muted para-desc mx-auto mb-0">Go beyond the basics—extend NocoBase through plugins, scripts, and diverse integrations.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        
        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            Develop general-purpose plugins
                        </h6>
                        <p class="text-muted para">Build reusable plugins to extend core functionality.</p>
                        <a href="?fallback_url" data-type="html" data-target="#way1_lightbox" data-group="way1" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 Try it yourself <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Way 01.</li>
                            <li class="step-icon"><i class="uil uil-battery-bolt h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            Write scripts on pages with <AIAvatar name="cole" />
                        </h6>
                        <p class="text-muted para">Write custom scripts directly on pages for advanced logic and user interface.</p>
                        <a href="?fallback_url" data-type="html" data-target="#way2_lightbox" data-group="way2" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 Try it yourself <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Way 02.</li>
                            <li class="step-icon"><i class="uil uil-bolt h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-md-4 mt-4 pt-2">
                <div class="card work-process border-0 rounded shadow">
                    <div class="card-body">
                        <h6 class="title">
                            Integrate with other applications
                        </h6>
                        <p class="text-muted para">Integrate seamlessly with external applications and services.</p>
                        <a href="?fallback_url" data-type="html" data-target="#way3_lightbox" data-group="way3" data-zoom="false" title="Try NocoBase demo" class="text-primary lightbox">👉 Try it yourself <i class="uil uil-angle-right-b"></i></a>
                        <ul class="list-unstyled d-flex justify-content-between mb-0 mt-2">
                            <li class="step h1 mb-0 fw-bold">Way 03.</li>
                            <li class="step-icon"><i class="uil uil-apps h1 mb-0"></i></li>
                        </ul>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End -->

  <!-- For you Start -->
  <section class="section pb-5 bg-light" id="section-for-you">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h3 class="title mb-4">Who NocoBase is for</h3>
            <p class="text-muted para-desc mx-auto mb-0">Your development team is facing these serious <span class="text-primary fw-bold">challenges</span> as they deliver various business systems for either internal or client use.</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">Frequent changes in business needs</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">Tight and urgent delivery deadlines</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">Slow and lengthy development processes</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-3 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">High personnel costs</p>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mt-5 mb-4 pb-2">
            <p class="text-muted para-desc mx-auto mb-0">At the same time, with the rise of <span class="text-primary fw-bold">AI</span>, you may also be struggling with:</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">Countless AI demos look promising, but are hard to apply in real business scenarios</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">Difficulty integrating AI models seamlessly with existing systems and workflows</p>
            </div>
          </div>
        </div><!--end col-->

        <div class="col-lg-4 col-md-6 col-12">
          <div class="d-flex features feature-primary pt-4 pb-4">
            <div class="icon text-center rounded-circle text-primary me-3 h5 mb-0">
              <i class="uil uil-silent-squint text-primary text-warning"></i>
            </div>
            <div class="flex-1">
              <p class="para mb-0">Lack of flexibility to adapt AI solutions to unique processes and security requirements</p>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mt-5 mb-4 pb-2">
            <p class="text-muted para-desc mx-auto mb-0">Your team has realized the need to abandon traditional development methods, and introducing a no-code development approach could be a good option. However, after research or experimentation, your team has <span class="text-primary fw-bold">numerous concerns</span> regarding the no-code platform.</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
          <ul class="list-unstyled">
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>Limited no-code capabilities, primarily for forms or tables</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>Clumsy and inflexible, leaving users helpless when faced with unmet requirements</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>AI-related features remain at the demo level, failing to land in real business scenarios</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>Lack of extensibility to embed AI models seamlessly into enterprise data and workflows</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>Without access to the underlying source code and with data hosted on third-party servers, both privacy and security are difficult to guarantee</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>Difficult to integrate seamlessly with existing systems</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-sad-dizzy align-middle text-warning"></i></span>Being held hostage by user or application-based pricing models, resulting in purchased products not truly belonging to yourselves</li>
          </ul>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mt-4 mb-4 pb-2">
            <p class="text-muted para-desc mx-auto mb-0">No need to worry! Give NocoBase a try. <br /> NocoBase is the <span class="text-primary fw-bold">tailored infrastructure</span> designed specifically for your development team!</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- For you End -->

  <!-- How Start -->
  <section class="section pb-0" id="section-how">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <h3 class="title mb-4">How NocoBase gets it done</h3>
            <p class="text-muted para-desc mx-auto mb-0">No-code and AI are not silver bullets.<br />A framework where humans, AI, and code work together is the foundation of a today’s reliable enterprise system.</p>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row  justify-content-center">
        <div class="col-lg-6 col-md-6 col-12">
          <ul class="list-unstyled">
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-times-circle align-middle text-warning"></i></span>Trying to encapsulate every function into no-code components and relying solely on no-code to meet all requirements.</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-check-circle align-middle"></i></span>Use no-code to cover 80% of common needs, and extend with custom development for the remaining unique requirements.</li>
          </ul>
        </div><!--end col-->

        <div class="col-lg-6 col-md-6 col-12">
         <ul class="list-unstyled">
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-times-circle align-middle text-warning"></i></span>Relying on AI to generate a complete business system and replace all business processes</li>
            <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-check-circle align-middle"></i></span>Build a strong human–AI collaboration framework, enabling AI to create real value in specific tasks and processes</li>
          </ul>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">Data model-driven</span>, not form/table–driven</h5>
            <p class="text-muted">Instead of being constrained by forms or tables, NocoBase adopts a data model–driven approach, separating data structure from user interface to unlock unlimited possibilities.</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>UI and data structure are fully decoupled</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Multiple blocks and actions can be created for the same table or record in any quantity or form</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Supports the main database, external databases, and third-party APIs as data sources</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <div class="card-body feature-card-img">
              <img src="https://static-docs.nocobase.com/model.png" alt="Data model-driven approach in NocoBase, separating user interface from data structure. Supports multiple blocks and actions for the same table and record, integrating main database, external databases, and third-party APIs as data sources." />
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">What you see is what you get</span>, incredibly easy to use</h5>
            <p class="text-muted">While enabling the development of complex business systems, NocoBase keeps the experience simple and intuitive.</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>One-click switch between usage mode and configuration mode</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Pages serve as a canvas to arrange blocks and actions, similar to Notion</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Configuration mode is designed for ordinary users, not just programmers</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-7 col-md-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <div class="card-body feature-card-img">
              <img src="https://static-docs.nocobase.com/wysiwyg.gif" alt="NocoBase WYSIWYG interface, showcasing easy-to-use, configurable UI for developing complex business systems. Features one-click switch between usage and configuration modes, allowing ordinary users to create and customize interfaces like Notion." />
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">AI employees</span>, integrated into your business systems</h5>
            <p class="text-muted">Unlike standalone AI demos, NocoBase allows you to embed AI capabilities seamlessly into your interfaces, workflows, and data context, making AI truly useful in real business scenarios.</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Define AI employees for roles such as translator, analyst, researcher, or assistant</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Seamless AI–human collaboration in interfaces and workflows</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Ensure AI usage is secure, transparent, and customizable for your business needs</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-7 col-md-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <div class="card-body feature-card-img">
              <img src="https://static-docs.nocobase.com/ai-employee-home.png" alt="NocoBase plugin architecture, designed for extension development with a microkernel approach. All functionalities are implemented as plugins, similar to Wordpress. Plugins, including pages, blocks, actions, APIs, and data sources, can be easily installed and developed to meet complex and evolving business requirements." />
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">Everything is a <span class="text-primary">plugin</span>, designed for extension</h5>
            <p class="text-muted">Adding more no-code features will never cover every business case. NocoBase is built for extension through its plugin-based microkernel architecture.</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>All functionalities are plugins, similar to WordPress</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Plugins are ready to use upon installation</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Pages, blocks, actions, APIs, and data sources can all be extended through custom plugins</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-7 col-md-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <div class="card-body feature-card-img">
              <img src="https://static-docs.nocobase.com/plugins.png" alt="NocoBase plugin architecture, designed for extension development with a microkernel approach. All functionalities are implemented as plugins, similar to Wordpress. Plugins, including pages, blocks, actions, APIs, and data sources, can be easily installed and developed to meet complex and evolving business requirements." />
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-5">
        <div class="col-lg-6 col-md-6 mt-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">Open source</span>, built on mainstream technology</h5>
            <p class="text-muted">NocoBase is transparent, controllable, and easy to adopt.</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Core and foundational plugins are fully open source</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Written in TypeScript, using Node.js, React, Koa, and other mainstream stacks</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Defines only standard interfaces, avoiding private DSLs</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>Lightweight enough to run on a low-spec server, manageable even by a single developer</li>
            </ul>
          </div>
        </div><!--end col-->
        <div class="col-lg-6 col-md-6 mt-5">
          <div class="section-title">
            <h5 class="mb-4">Transparent and permissive <span class="text-primary">licensing</span></h5>
            <p class="text-muted">NocoBase is open source and free to use. Commercial licenses and plugins are offered with a one-time payment model.</p>
            <ul class="list-unstyled text-muted">
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>No subscriptions</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>No consideration for the number of users</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>No consideration for the number of applications</li>
              <li class="mb-1 concerns-li"><span class="text-primary h5 me-2 concerns-span"><i class="uil uil-smile-beam align-middle"></i></span>No consideration for the amount of data</li>
            </ul>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- For you End -->

  <!-- Feedback Start -->
  <section class="section pb-0" id="section-feedback">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <div class="section-title">
            <h3 class="title mb-4">It's important to hear what users say</h3>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row justify-content-center">
        <div class="col-lg-9 mt-4 pt-2">
          <div class="tiny-single-item text-center">
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">With NocoBase we have reduced our administrative task time by 50%, improved collaboration and communication, and a faster and more efficient hiring process.</p>
              <p class="text-muted fst-italic">At TEDxDUTH, we believe in the power of innovation and collaboration to change the world. NocoBase has empowered us to streamline our operations and focus more on what truly matters—delivering inspiring events that spread ideas worth sharing.</p>
              <p class="text-muted fst-italic">If your organization is struggling with disorganization or inefficient workflows, NocoBase isn't just a tool—it's a solution that can empower your team to achieve more. For us, it's been a game-changer, helping us dream bigger, work smarter, and create lasting impact in our community.</p>
              <p class="text-muted fst-italic">Thank you, NocoBase, for being an integral part of our journey. We look forward to growing alongside you as we continue to push boundaries and spread ideas that matter!</p>
              <img src="https://static-docs.nocobase.com/20250713094749.png" class="mt-4 mb-4" width="160" alt="TED" />
              <h6 class="text-primary">Sarantis Antoniou <small class="text-muted">Lead Organizer </small></h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">We considered AirTable and NocoDB but ultimately chose NocoBase due to its superior flexibility and deployment options. It allows deployment directly within our AWS environment, supports unlimited users, offers granular permission management, and features a decoupled frontend-data architecture that enables easy interface customization. Moreover, its integrated workflow system and automatic API generation have significantly streamlined our processes.</p>
              <a rel="nofollow" href="https://classmethod.jp/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094650.png" class="mt-4 mb-4" width="160" alt="classmethod" /></a>
              <h6 class="text-primary">Classmethod, Inc.</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">Before NocoBase, we lacked a dedicated customer service and operations management system. Our business was expanding rapidly, and we needed a solution that could be quickly built to handle increasing demands. NocoBase addressed this challenge exceptionally well. Its outstanding data table relational capabilities allowed us to efficiently integrate diverse data structures. This enabled our customer service team to quickly retrieve user information and resolve customer entitlement issues in real-time, significantly boosting our operational efficiency.</p>
              <a rel="nofollow" href="https://www.plaud.ai/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094635.png" class="mt-4 mb-4" width="160" alt="PLAUD" /></a>
              <h6 class="text-primary">Lucas, Product Manager, PLAUD</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">We were looking for a flexible no-code platform to create a customized scheduling solution tailored to Okechamp's fast-expanding logistics needs. NocoBase quickly emerged as the best choice with its Schema-first approach, modular structure, and vibrant community. It allowed us to easily build custom views and reporting tools. We plan to continue leveraging NocoBase in more client projects moving forward.</p>
              <img src="https://static-docs.nocobase.com/20250713094700.png" class="mt-4 mb-4" width="160" alt="Lukardi" />
              <h6 class="text-primary">Lukardi SA</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">Previously, we relied on paper-based processes for HR management and leave approvals, which was both inefficient and error-prone. Since using NocoBase to build our HR, attendance, and leave management workflows, we've achieved a truly paperless office. Managing over 110 employees has become efficient and intuitive. NocoBase's flexible interface design and powerful API capabilities perfectly cater to the diverse needs of our real estate business. Compared to tools like Salesforce, it's not only highly customizable but also supports a one-time purchase, making it incredibly cost-effective. We're now planning to migrate more systems, including our CRM, to NocoBase, transforming it into our company's core business platform and portal.</p>
              <a rel="nofollow" href="https://housewell-group.jp/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094720.png" class="mt-4 mb-4" width="160" alt="HouseWell" /></a>
              <h6 class="text-primary">HouseWell, Inc.</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">During the development of our smart factory system, we chose NocoBase as our core platform. Its streamlined setup process empowered even non-technical staff to quickly build interfaces, dramatically boosting development efficiency. With its rich plugin ecosystem and powerful workflow engine, we could flexibly adapt to a wide range of business scenarios while maintaining system quality and scalability. Thanks to NocoBase's granular permission controls, we ensured secure and efficient collaboration across workflows like equipment maintenance and HR management. Once deployed, the system—integrated with PC, mobile, and 5G infrastructure—enabled real-time data feedback and fast input, laying a strong foundation for our smart factory initiative.</p>
              <a rel="nofollow" href="https://www.bielcrystal.com" target="_blank"><img src="https://static-docs.nocobase.com/20250713094732.png" class="mt-4 mb-4" width="160" alt="BIEL" /></a>
              <h6 class="text-primary">BIEL</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">Among the many new database products available, NocoBase is the only solution that truly made me feel like I could have it all. We needed a self-hosted, low-code, scalable system to facilitate task collaboration across dozens of teams and support highly standardized professional scenarios. The learning curve for NocoBase was surprisingly smooth; I was able to build out business processes within days, without needing to rely on developers.</p>
              <a rel="nofollow" href="https://www.aoya-hk.com/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094804.png" class="mt-4 mb-4" width="160" alt="L&A Design" /></a>
              <h6 class="text-primary">Zhang Tingyuan, Business Leader, L&A Design</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">After evaluating multiple low-code platforms globally, we ultimately selected NocoBase. Its capability for on-premises deployment and easy extensibility aligns perfectly with our rigorous demands for data security and tailored system design in the chemical industry. With NocoBase's expert support team and flexible data modeling features, deploying our system was both swift and dependable.</p>
              <a rel="nofollow" href="https://en.xtalpi.com/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094812.png" class="mt-4 mb-4" width="160" alt="XtalPi" /></a>
              <h6 class="text-primary">Xiong Zhi, Project Lead, XtalPi</h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">I cannot emphasize enough the great experience we've had with NocoBase as a no-code/low-code platform. It stands out as exceptionally user-friendly, making our development process both smooth and efficient. What impressed me most was how easy it was to work on development of the user experience once the data model was in place. This streamlined approach allowed us to develop a full-fledged system, designed to be used by several hundred organizations, in just a matter of weeks.</p>
              <p class="text-muted fst-italic">NocoBase has effectively shattered the common misconception that powerful systems require months or even years of work. I highly recommend it for any organization looking to fast-track their development cycle without sacrificing quality.</p>
              <a rel="nofollow" href="https://sambruk.se/" target="_blank"><img src="https://static-docs.nocobase.com/20250713094827.png" class="mt-4 mb-4" width="160" alt="Sambruk" /></a>
              <h6 class="text-primary">Thomas Wennersten <small class="text-muted">CTO</small></h6>
            </div>
            <div class="tiny-slide client-testi text-center">
              <p class="text-muted fst-italic">As the core of data management, API services, and workflows, NocoBase significantly lowers the development difficulty, allowing our developers to focus more on the implementation of business logic, thereby greatly improving development efficiency.</p>
              <p class="text-muted fst-italic">NocoBase possesses excellent integration capabilities, enabling seamless interfacing with various third-party services and systems to achieve data sharing and functional integration. This means we do not need to build all functionalities from scratch but can instead make full use of existing services and resources to quickly integrate various functions and services into our applications. This integration capability not only reduces development time and costs but also enriches and diversifies the application's functionalities, meeting the diverse needs of users.</p>
              <p class="text-muted fst-italic">In this rapidly evolving digital age, NocoBase is undoubtedly a powerful weapon for us to face challenges and achieve innovation. We are thankful for the NocoBase team's efforts.</p>
              <a rel="nofollow" href="https://www.chinaunicom.com/" target="_blank"><img src="https://nocobase-docs.oss-cn-beijing.aliyuncs.com/liantong.png" class="mt-4 mb-4" width="160" alt="China unicom" /></a>
              <h6 class="text-primary">Xinjiang Unicom's Scientific Innovation Laboratory</h6>
            </div>
          </div><!--end owl carousel-->
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- Feedback End -->

  <!-- Get Start -->
  <section class="section" id="section-get">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h3 class="title mb-4">Ready for NocoBase?</h3>
          <p class="text-muted para-desc mx-auto mb-0">Deploy a personalized live demo in just 1 minute, or deploy NocoBase locally, it's equally simple.</p>
          <div class="mt-4">
            <a href="https://v8.demo.nocobase.com/new" target="_blank" class="btn btn-primary mt-2 mb-4" title="Click to experience NocoBase online">Live Demo <i class="uil uil-arrow-right"></i></a>
            <a href="https://docs.nocobase.com/welcome/getting-started/installation" target="_blank" class="btn btn-outline-primary mt-2 mb-4" title="Learn how to deploy NocoBase locally">Deploy locally <i class="uil uil-arrow-right"></i></a>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section>
  <!-- Get End -->

  <!-- Lightbox Start -->
    <!-- video in lightbox  -->
      <div style="display: none;">
        <div id="nocobase_video_lightbox">
          <video controls>
            <source src="https://static-docs.nocobase.com/nocobase-2-main-1080p-en-v2.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <!-- end video in lightbox  -->

      <!-- step1 lightbox -->
      <div style="display: none;">
        <div id="step1_lightbox">
          <InteractiveDemo guides={demo_20250928234035} hideHeader={true}/>
        </div>
      </div>
      <!-- end step1 lightbox -->

      <!-- step2 lightbox -->
      <div style="display: none;">
        <div id="step2_lightbox">
          <InteractiveDemo guides={demo_20250929185215} hideHeader={true}/>
        </div>
      </div>
      <!-- end step2 lightbox -->

      <!-- step3 lightbox -->
      <div style="display: none;">
        <div id="step3_lightbox">
          <InteractiveDemo guides={demo_20250929192111} hideHeader={true}/>
        </div>
      </div>
      <!-- end step3 lightbox -->

      <!-- feat1 lightbox -->
      <div style="display: none;">
        <div id="feat1_lightbox">
          <InteractiveDemo guides={demo_20250929193842} hideHeader={true}/>
        </div>
      </div>
      <!-- end feat1 lightbox -->

      <!-- feat2 lightbox -->
      <div style="display: none;">
        <div id="feat2_lightbox">
          <InteractiveDemo guides={demo_20250929200011} hideHeader={true}/>
        </div>
      </div>
      <!-- end feat2 lightbox -->

      <!-- feat3 lightbox -->
      <div style="display: none;">
        <div id="feat3_lightbox">
          <InteractiveDemo guides={demo_20250929200757} hideHeader={true}/>
        </div>
      </div>
      <!-- end feat3 lightbox -->

      <!-- way1 lightbox -->
      <!-- <div style="display: none;">
        <div id="way1_lightbox">
          <InteractiveDemo guides={demo_2025092919211} hideHeader={true}/>
        </div>
      </div>-->
      <!-- end way1 lightbox -->

      <!-- way2 lightbox -->
      <!-- <div style="display: none;">
        <div id="way2_lightbox">
          <InteractiveDemo guides={demo_2025092919211} hideHeader={true}/>
        </div>
      </div>-->
      <!-- end way2 lightbox -->

      <!-- way3 lightbox -->
      <div style="display: none;">
        <div id="way3_lightbox">
          <InteractiveDemo guides={demo_20250929202533} hideHeader={true}/>
        </div>
      </div>
      <!-- end way3 lightbox -->

  <!-- Lightbox End --> 

</Layout>
