---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";

const title = "Lien he";
const description = "Trao doi voi doi ngu NocoBase ve ban hang, cap phep va hop tac.";
const keywords = "NocoBase, lien he, ban hang, cap phep, tu van thuong mai";
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} description={description} />
  <section class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 mb-4 pb-4">
          <div class="d-flex contact-detail align-items-center mt-4">
            <div class="flex-1 content mb-4">
              <h4 class="title fw-bold mb-1">Lien he voi chung toi qua email</h4>
              <a href="mailto:hello@nocobase.com" class="text-primary">hello@nocobase.com</a>
            </div>
          </div>

          <h4>Chung toi dang o dau</h4>
          <div class="p-4 bg-light rounded shadow mb-4">
            Chung toi la doi ngu lam viec tu xa phan bo o nhieu quoc gia va hien dang co cac van phong sau:
            <ul class="list-unstyled text-muted mb-0">
              <li><i data-feather="arrow-right" class="text-primary fea icon-sm me-2"></i>Singapore: 68 CIRCULAR ROAD, #02-01, SINGAPORE</li>
              <li><i data-feather="arrow-right" class="text-primary fea icon-sm me-2"></i>Nhat Ban: 501, 1-55-8 Akabane, Kita-ku, Tokyo, Nhat Ban</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card shadow border-0 rounded p-4" style="height: 850px;">
            <iframe src="https://service-en.nocobase.com/public-forms/ect266yzsld" height="100%"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
