---
import PageHeader from "../../../components/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
import { getPage } from "../../../utils";

const page = await getPage("permissions");

const title = page.title_cn || page.title;
const description = page.description_cn || page.description;
const keywords = page.keywords_cn || page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title}>
    <span slot="description" set:html={description}></span>
  </PageHeader>
  <!-- Start Highlights -->
  <section class="section">
    <div class="container">
      <div class="row align-items-top ">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4"><span class="text-primary">系统权限</span>控制</h5>
            <p class="text-muted">在使用 NocoBase 开发时，可以给不同的开发人员分配不同的系统权限，确保每个人只能操作被授权的模块。</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/PM-4.1-CN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">精确控制数据源的<span class="text-primary">字段级与行级</span>权限</h5>
            <p class="text-muted">NocoBase 支持对数据的行级和字段级权限进行精细控制，确保员工只能访问和修改其被授权的数据。比如销售员可以查看和编辑自己负责的客户的信息，可以查看但不能编辑本部门其他人负责的客户的信息，且不能查看所有客户的订单总金额。</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/PM-4.2-CN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      <div class="row align-items-top mt-100">
        <div class="col-lg-5 col-md-5">
          <div class="section-title">
            <h5 class="mb-4">单个用户拥有多角色<span class="text-primary">权限叠加</span></h5>
            <p class="text-muted">在业务系统中，用户常常同时承担多种岗位角色。NocoBase 支持为同一用户绑定多个角色，并通过三种权限策略满足不同场景的需求。</p>
          </div>
        </div><!--end col-->
        <div class="col-lg-7">
          <div class="card rounded border-0 shadow ms-lg-5">
            <video controls class="rounded shadow">
              <source src="https://static-docs.nocobase.com/PM-4.3-CN.mp4" type="video/mp4">
            </video>
          </div>
        </div><!--end col-->
      </div><!--end row-->
      
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- Highlights End -->
</Layout>