---
import FormattedDate from "../../../../../components/FormattedDate.astro";
import PageHeader from "../../../../../components/PageHeader.astro";
import Layout from "../../../../../layouts/Layout.astro";
import { getReleaseTag, listReleases } from "../../../../../utils";

const { slug } = Astro.params;
const tag = await getReleaseTag(slug);
const { data, meta } = await listReleases({ tagSlug: slug });
const title = "Release notes";
const description = `Found ${meta.count} results for '${tag.title_cn || tag.title}'`;
---

<Layout title={title} description={description}>
  <PageHeader title={title} description={description} />
  <section class="section">
    <div class="container">
      <main style="border-top: 1px solid #DFE0E1; ">
        {
          data.map((post) => (
            <div style="border-bottom: 1px solid #DFE0E1; padding: 3em 0 1em;">
              <a style="color: inherit;" href={`/en/releases/${post.slug}`}>
                <h4 class="title">{post.title}</h4>
                <p class="date">
                  <FormattedDate
                    locale="zh-cn"
                    date={post.publishedAt || post.createdAt}
                  />
                </p>
              </a>
            </div>
          ))
        }
      </main>
    </div>
  </section>
</Layout>

<style>
  main {
    text-align: center;
  }
</style>
