---
import FormattedDate from "../../../../../../components/FormattedDate.astro";
import PageHeader from "../../../../../../components/PageHeader.astro";
import Pagination from "../../../../../../components/Pagination.astro";
import Layout from "../../../../../../layouts/Layout.astro";
import { getArticleTag, listArticles, url } from "../../../../../../utils";

const { slug, page } = Astro.params as { slug?: string; page?: number; };
const { data, meta } = await listArticles({ page, tagSlug: slug });
const tag = await getArticleTag(slug);
const tagpath = '/cn/blog/tags/' + slug;
const basepath = '/cn/blog';
const title = tag.title || tag.title_cn;
const description = tag.description || tag.description_cn;
const keywords = tag.keywords_cn || tag.keywords;
const tabs = [
  {
    title: "查看全部博客文章",
    link: basepath,
  },
];
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader showRSS title={title} description={description} tabs={tabs}></PageHeader>
  <section class="section">
    <div class="container">
      <main>
        <section>
          <ul class="articles">
            {
              data.map((post) => (
                <li>
                  <a href={`${basepath}/${post.slug}`}>
                    <img
                      style="object-fit: cover;"
                      width={720}
                      height={360}
                      src={url(post.cover.url)}
                      alt={post.title_cn || post.title}
                    />
                    <h4 class="title">{post.title_cn || post.title}</h4>
                    <p class="date">
                      <FormattedDate locale="zh-cn" date={post.publishedAt || post.createdAt} />
                    </p>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
        <Pagination basepath={tagpath} currentPage={page} pageSize={meta.pageSize} total={meta.count} totalPages={meta.totalPage} />
      </main>
    </div>
  </section>
</Layout>
