---
import FormattedDate from "../../../components/FormattedDate.astro";
import PageHeader from "../../../components/PageHeader.astro";
import Tags from "../../../components/Tags.astro";
import Toc from "../../../components/Toc.astro";
import Layout from "../../../layouts/Layout.astro";
import { getArticle, url } from "../../../utils";

const { slug } = Astro.params;
const { data, headings, html } = await getArticle(slug, "cn");
if (!data) {
  return new Response("Not found", { status: 404 });
}
const title = data.title_cn || data.title;
const keywords = (data.tags || [])
  .map((tag: any) => tag.title_cn || tag.title)
  .join(",");
const description = data.description_cn || data.description;
const basepath = '/cn/blog';
const tabs = [
  {
    title: "首页",
    link: "/cn/",
  },
  {
    title: "博客",
    link: basepath,
  },
  {
    title: '详情',
    active: true,
  },
];
---

<Layout title={title} description={description} keywords={keywords} image={url(data.cover.url)}>
  <PageHeader title={title} description={description} breadcrumb={tabs}>
    <div>
      {data.author && (<span title={data.author}>{data.author}<span style="opacity: 0.3; display:inline-block; padding: 0 .8em;">|</span></span>)}
      <FormattedDate locale={"zh-cn"} date={data.publishedAt || data.createdAt} />
    </div>
    <Tags locale="cn" basepath={basepath} items={data.tags.filter((tag: any) => tag.displayOnPage)} />
    <p class="ai-generated-label" style="color: gray; font-size: 0.9em;">(本篇文章由AI生成)</p>
  </PageHeader>
  <section class="section bg-white-color">
    <main
      class={headings.length > 0 ? "container blog-container row" : "container"}
    >
      {
        headings.length > 0 ? (
          <>
            <div class="col-md-9 col-18 markdown-body">
              <Fragment set:html={html} />
            </div>
            <div class="col-md-3 col-6 markdown-toc">
              <Toc headings={headings} />
            </div>
          </>
        ) : (
          <>
            <Fragment set:html={html} />
          </>
        )
      }
    </main>
  </section>
</Layout>

<style>
  main {
    max-width: 960px;
    margin: 0 auto;
  }
</style>
