---
import FormattedDate from "../../../../components/FormattedDate.astro";
import PageHeader from "../../../../components/PageHeader.astro";
import Pagination from "../../../../components/Pagination.astro";
import Tags from "../../../../components/Tags.astro";
import Layout from "../../../../layouts/Layout.astro";
import { listArticleTags, listArticles, url } from "../../../../utils";

const title = '博客';
const description = 'NocoBase 的最新消息和公告';
const basepath = '/cn/blog';
const { page } = Astro.params as { page?: number };
const { data, meta } = await listArticles({ page });
const tags = await listArticleTags({
  filter: {
    displayOnBlog: true,
  },
});
---

<Layout title={title} description={description}>
  <PageHeader title={title} description={description}>
    <Tags basepath={basepath} locale="cn" items={tags} />
  </PageHeader>
  <section class="section">
    <div class="container">
      <main>
        <section>
          <ul class="articles">
            {
              data.map((post) => (
                <li>
                  <a href={`${basepath}/${post.slug}`}>
                    <img
                      style="object-fit: cover;"
                      width={720}
                      height={360}
                      src={url(post.cover.url)}
                      alt=""
                    />
                    <h4 class="title">{post.title_cn || post.title}</h4>
                    <p class="date">
                      <FormattedDate locale={'zh-cn'} date={post.publishedAt || post.createdAt} />
                    </p>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
        <Pagination basepath={basepath} currentPage={page} pageSize={meta.pageSize} total={meta.count} totalPages={meta.totalPage} />
      </main>
    </div>
  </section>
</Layout>
