---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPage } from "../../utils";

const page = await getPage("agreement");

const title = page.title_cn || page.title;
const description = page.description_cn || page.description;
const keywords = page.keywords_cn || page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} description={description}>
  </PageHeader>

  <!-- Start Agreement -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="card shadow border-0 rounded">
            <div class="card-body license-body">
              <div set:html={page.html}></div>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End agreement -->
</Layout>
