---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPage } from "../../utils";

const page = await getPage("commercial");

const title = page.title_cn || page.title;
const description = page.description_cn || page.description;
const keywords = page.keywords_cn || page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} description={description} />
  <!-- Licenses Start -->
  <section class="section pb-0">
    <div class="container">
      <div class="row align-items-center">
        <h3 class="mt-4 pt-2 text-center">许可证</h3>
        <p class="para-desc text-center mx-auto text-muted">
          我们不断增强 NocoBase
          的核心能力并保持开源，希望可以满足大多数小企业的需求。当你的企业在商业模式和技术支持等方面有更高要求时，可以选择商业许可证和商业插件。
        </p>
        <div class="col-12">
          <div class="component-wrapper">
            <div class="p-4">
              <div class="table-responsive bg-white">
                <table class="table mb-0 table-center commercial-table">
                  <thead class="">
                    <tr>
                      <th scope="col" class="col-sm-3"></th>
                      <th scope="col" class="col-sm-2"
                        ><h5 class="text-primary mb-0">开源</h5></th
                      >
                      <th scope="col" class="col-sm-2"
                        ><h5 class="text-primary mb-0">商业</h5></th
                      >
                      <th scope="col" class="col-sm-2"
                        ><h5 class="text-primary mb-0">企业</h5></th
                      >
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="compare-item text-muted">价格</td>
                      <td class="fw-bold fst-italic">免费</td>
                      <td class="fw-bold fst-italic">联系我们</td>
                      <td class="fw-bold fst-italic">联系我们</td>
                    </tr>
                    <tr>
                      <th class="compare-item">许可证</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">许可证类型</td>
                      <td>AGPL 3.0</td>
                      <td>商业许可证</td>
                      <td>企业许可证</td>
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">永久授权</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">授权版本</td>
                      <td>全部</td>
                      <td
                        >一个根版本 <a
                          href="javascript:void"
                          class="text-muted"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="比如从 1.0 到 1.x 全部获得授权，但不能从 1.x 到 2.x"
                          ><i
                            data-feather="help-circle"
                            class="fea icon-ex-md me-2 mt-1"></i></a
                        ></td
                      >
                      <td
                        >一个根版本<a
                          href="javascript:void"
                          class="text-muted"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="比如从 1.0 到 1.x 全部获得授权，但不能从 1.x 到 2.x"
                          ><i
                            data-feather="help-circle"
                            class="fea icon-ex-md me-2 mt-1"></i></a
                        ></td
                      >
                    </tr>
                    <tr>
                      <th class="compare-item">授权范围</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">NocoBase 内核</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">开源插件</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">商业插件</td>
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i><a
                          href="javascript:void"
                          class="text-muted"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="商业插件按需单独购买"
                          ><i
                            data-feather="help-circle"
                            class="fea icon-ex-md me-2 mt-1"></i></a
                        ></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i><a
                          href="javascript:void"
                          class="text-muted"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="商业插件按需单独购买"
                          ><i
                            data-feather="help-circle"
                            class="fea icon-ex-md me-2 mt-1"></i></a
                        ></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <th class="compare-item">使用限制</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">不限制用户数量</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">不限制应用数量</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">不限制数据量</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted"
                        >为自己或客户开发上层应用</td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted"
                        >保持你自己的代码和插件不开源</td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i><a
                          href="javascript:void"
                          class="text-muted"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="你自己的代码和插件需要以 AGPL 3.0 协议开源"
                          ><i
                            data-feather="help-circle"
                            class="fea icon-ex-md me-2 mt-1"></i></a
                        ></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted"
                        >在界面上使用自己的品牌信息</td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i><a
                          href="javascript:void"
                          class="text-muted"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="页脚和系统右上角等各处关于 NocoBase 的版权、版本、链接信息不得更改或移除"
                          ><i
                            data-feather="help-circle"
                            class="fea icon-ex-md me-2 mt-1"></i></a
                        ></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted"
                        >向客户开放无代码、低代码能力</td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <th class="compare-item">支持</th>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">社区支持</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">专属的工单支持</td>
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted"
                        >专属和及时的 bug 修复</td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">专属的使用咨询</td>
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">现场支持和培训</td>
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">专属的扩展开发咨询</td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">优先排期新功能</td>
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">定制插件</td>
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">定制或批量许可证</td>
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">首次响应时间</td>
                      <td></td>
                      <td>12 小时</td>
                      <td>4 小时</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Licenses end -->

  <!-- Plugins start -->
  <section class="section pb-0">
    <div class="container">
      <div class="row align-items-center">
        <h3 class="mt-0 pt-0 text-center">商业插件</h3>
        <p class="para-desc text-center mx-auto text-muted">
          商业插件提供更多功能。你可以从商业插件中选择你需要的任何插件，组合成插件包。
        </p>
        <p class="para-desc text-center mx-auto text-muted">
          <a href="/cn/plugins-commercial">查看全部商业插件</a>
        </p>
        <div class="col-12">
          <div class="component-wrapper">
            <div class="p-4">
              <div class="table-responsive bg-white">
                <table class="table mb-0 table-center commercial-table">
                  <thead>
                    <tr>
                      <th scope="col" class="col-sm-3"></th>
                      <th scope="col" class="col-sm-1"
                        ><h5 class="text-primary mb-0">P5</h5></th
                      >
                      <th scope="col" class="col-sm-1"
                        ><h5 class="text-primary mb-0">P10</h5></th
                      >
                      <th scope="col" class="col-sm-1"
                        ><h5 class="text-primary mb-0">P20</h5></th
                      >
                      <th scope="col" class="col-sm-1"
                        ><h5 class="text-primary mb-0">P5+</h5></th
                      >
                      <th scope="col" class="col-sm-1"
                        ><h5 class="text-primary mb-0">P10+</h5></th
                      >
                      <th scope="col" class="col-sm-1"
                        ><h5 class="text-primary mb-0">P20+</h5></th
                      >
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="compare-item text-muted">价格</td>
                      <td colspan="6" class="fw-bold fst-italic text-center"
                        >联系我们 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">插件数量</td>
                      <td>5</td>
                      <td>10</td>
                      <td>20</td>
                      <td>5</td>
                      <td>10</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <th class="compare-item">授权</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">永久授权</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">授权版本</td>
                      <td colspan="6" class="align-top text-center">
                        一个根版本 <a
                          href="javascript:void"
                          class="text-muted"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="比如从 1.0 到 1.x 全部获得授权，但不能从 1.x 到 2.x"
                          ><i
                            data-feather="help-circle"
                            class="fea icon-ex-md me-2 mt-1"></i></a
                        >
                      </td>
                    </tr>
                    <tr>
                      <th class="compare-item">交付物</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">插件安装包</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">插件源代码</td>
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <th class="compare-item">支持</th>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">社区支持</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">专属的在线支持</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted"
                        >专属和及时的 bug 修复</td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">专属的使用咨询</td>
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">专属的扩展开发咨询</td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">优先排期新功能</td>
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="x"
                          class="fea icon-ex-md text-danger me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                      <td
                        ><i
                          data-feather="check"
                          class="fea icon-ex-md text-primary me-2 mt-1"></i></td
                      >
                    </tr>
                    <tr>
                      <td class="compare-item text-muted">首次响应时间</td>
                      <td>12 小时</td>
                      <td>12 小时</td>
                      <td>12 小时</td>
                      <td>4 小时</td>
                      <td>4 小时</td>
                      <td>4 小时</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Plugins end -->

  <!-- FAQ start -->
  <section class="section pb-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center mb-4 pb-2">
            <h3 class="mb-4">常见问题</h3>
          </div>
        </div><!--end col-->
      </div><!--end row-->

      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item rounded">
              <h2 class="accordion-header" id="heading1">
                <button
                  class="accordion-button border-0 bg-light"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse1"
                  aria-expanded="true"
                  aria-controls="collapse1"
                >
                  购买商业许可证获得的功能与开源版本的功能有区别吗？
                </button>
              </h2>
              <div
                id="collapse1"
                class="accordion-collapse border-0 collapse show"
                aria-labelledby="heading1"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    没有。商业许可证与开源许可证对应的代码完全相同。NocoBase
                    采用 AGPL-3.0
                    与商业许可双重授权，你可以根据自己的需求来选择许可证类型。
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading2">
                <button
                  class="accordion-button border-0 bg-light collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse2"
                  aria-expanded="false"
                  aria-controls="collapse2"
                >
                  是否要购买商业许可证才能用在商业环境？
                </button>
              </h2>
              <div
                id="collapse2"
                class="accordion-collapse border-0 collapse"
                aria-labelledby="heading2"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    不是。NocoBase 的内核和开源插件是 AGPL 3.0
                    协议，只要你遵循协议，并且保留界面上的 NocoBase
                    版权信息和版本信息，就可以免费使用。
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading3">
                <button
                  class="accordion-button border-0 bg-light collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse3"
                  aria-expanded="false"
                  aria-controls="collapse3"
                >
                  什么情况下需要购买商业许可证？
                </button>
              </h2>
              <div
                id="collapse3"
                class="accordion-collapse border-0 collapse"
                aria-labelledby="heading3"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0 pb-2">
                    如果你有以下任何需求，则需要购买商业许可证：
                  </p>
                  <ul class="text-muted">
                    <li>
                      对 NocoBase
                      的代码做了更改，或者扩展了自己的插件，但你不想将这些产出物以
                      AGPL 协议开源
                    </li>
                    <li>
                      将 NocoBase 集成到你的产品中，但不想将自己的产品以 AGPL
                      协议开源
                    </li>
                    <li>
                      你希望将页脚或系统右上角关于 NocoBase
                      的版权和版本信息修改为你自己的品牌
                    </li>
                    <li>你希望获得 NocoBase 团队的高级技术支持</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading4">
                <button
                  class="accordion-button border-0 bg-light collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse4"
                  aria-expanded="false"
                  aria-controls="collapse4"
                >
                  是否可以购买商业插件而不购买商业许可证？
                </button>
              </h2>
              <div
                id="collapse4"
                class="accordion-collapse border-0 collapse"
                aria-labelledby="heading4"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0 pb-2">
                    可以。商业插件和商业许可证是互相独立的。商业插件提供高级功能，不开放源代码。它们可以安装在开源许可或者商业许可的
                    NocoBase 上。
                  </p>
                  <p class="answer text-muted mb-0 pb-2">你可以：</p>
                  <ul class="text-muted">
                    <li>
                      只购买商业许可证，获得商业授权，同时使用与开源版本一样的功能
                    </li>
                    <li>只购买商业插件，在开源版本上增加更多功能</li>
                    <li>同时购买商业许可证和商业插件</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading5">
                <button
                  class="accordion-button border-0 bg-light collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse5"
                  aria-expanded="false"
                  aria-controls="collapse5"
                >
                  如何理解“永久授权”？
                </button>
              </h2>
              <div
                id="collapse5"
                class="accordion-collapse border-0 collapse"
                aria-labelledby="heading5"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    没有过期时间，不需要按年付费，一旦你购买了商业许可证或者商业插件，就会获得当前根版本的永久授权，可以永久使用。
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading6">
                <button
                  class="accordion-button border-0 bg-light collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse6"
                  aria-expanded="false"
                  aria-controls="collapse6"
                >
                  什么是“根版本”？
                </button>
              </h2>
              <div
                id="collapse6"
                class="accordion-collapse border-0 collapse"
                aria-labelledby="heading6"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    商业许可证和商业插件的许可范围为一个根版本，比如从 1.0 至
                    1.x 均获得授权。当需要跨根版本升级的时候，比如从 1.x 升级到
                    2.x，可以以 50% 折扣价格购买。
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading7">
                <button
                  class="accordion-button border-0 bg-light collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse7"
                  aria-expanded="false"
                  aria-controls="collapse7"
                >
                  什么是“插件包”？
                </button>
              </h2>
              <div
                id="collapse7"
                class="accordion-collapse border-0 collapse"
                aria-labelledby="heading7"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    NocoBase 商业插件按照插件包的方式批量授权。P5、P10、P20
                    三种插件包中分别包含 5、10、20
                    个插件。购买插件包之后，你可以在实际使用的过程中，按需选择所需的插件，直至达到插件包数量上限。
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading8">
                <button
                  class="accordion-button border-0 bg-light collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse8"
                  aria-expanded="false"
                  aria-controls="collapse8"
                >
                  商业插件可以试用吗？
                </button>
              </h2>
              <div
                id="collapse8"
                class="accordion-collapse border-0 collapse"
                aria-labelledby="heading8"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    在我们的 Demo 环境中包含所有的商业插件，每个 demo
                    都是一个专属的独立应用，你可以尽情体验。如果你需要在本地安装测试，也可以联系我们。
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading9">
                <button
                  class="accordion-button border-0 bg-light collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse9"
                  aria-expanded="false"
                  aria-controls="collapse9"
                >
                  商业授权和商业插件的高级技术支持有效期是多久?
                </button>
              </h2>
              <div
                id="collapse9"
                class="accordion-collapse border-0 collapse"
                aria-labelledby="heading9"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    技术支持有效期为 6
                    个月。我们相信在这段时间内你的团队可以完全掌握该版本的使用。
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item rounded mt-2">
              <h2 class="accordion-header" id="heading10">
                <button
                  class="accordion-button border-0 bg-light collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse10"
                  aria-expanded="false"
                  aria-controls="collapse10"
                >
                  我可以上传自己开发的插件吗？
                </button>
              </h2>
              <div
                id="collapse10"
                class="accordion-collapse border-0 collapse"
                aria-labelledby="heading10"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body text-muted">
                  <p class="answer text-muted mb-0">
                    非常欢迎。无论是分享自己的开源插件给 NocoBase
                    用户，还是出售商业插件获得收入，都欢迎你随时
                    <a href="/cn/contact">联系我们</a>。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
    </div>
  </section>
  <!-- FAQ end -->

  <!-- Contact start -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center text-center">
        <h3>如何购买</h3>
        <p class="para-desc text-center mx-auto text-muted">
          通过邮件或微信联系我们，与我们的核心团队探讨方案，获得独家支持。
        </p>
        <div class="mt-4 pt-2 text-center">
          <a href="/cn/contact" class="btn btn-primary"
            >联系我们 <i class="uil uil-arrow-right"></i></a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- Contact end -->
</Layout>
