---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPage } from "../../utils";

const page = await getPage("contact");

const title = page.title_cn || page.title;
const description = page.description_cn || page.description;
const keywords = page.keywords_cn || page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} description={description} />
  <!-- Start Contact -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="card shadow border-0 rounded">
            <div class="card-body">
              <div class="d-flex contact-detail align-items-center mb-5">
                <div class="flex-1 content">
                  <h5 class="title fw-bold mb-1">通过邮箱联系</h5>
                  <a href="mailto:hello@nocobase.com" class="text-primary">hello@nocobase.com</a>
                </div>
              </div>
              <div class="d-flex contact-detail align-items-center mb-5">
                <div class="flex-1 content">
                  <h5 class="title fw-bold mb-1">通过微信联系</h5>
                  <p>微信只提供商业版本和商业服务咨询，不提供开源版本技术支持。请在社区交流使用问题：<a href="https://forum.nocobase.com/" target="_blank">https://forum.nocobase.com/</a></p>
                  <img width="100" height="100" src="https://nocobase-file.oss-cn-beijing.aliyuncs.com/wechat.png">
                </div>
              </div>
              <h5>我们在哪里</h5>
              <div class="p-4 bg-light rounded shadow mb-4">
                <ul class="list-unstyled text-muted mb-0">
                  <li><i data-feather="arrow-right" class="text-primary fea icon-sm me-2"></i>中国：北京市海淀区北四环西路68号6层609</li>
                  <li><i data-feather="arrow-right" class="text-primary fea icon-sm me-2"></i>新加坡：#03-01, 112 Robinson Road, Singapore</li>
                  <li><i data-feather="arrow-right" class="text-primary fea icon-sm me-2"></i>日本：東京都北区赤羽1-55-8 501</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

        
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End Contact -->
</Layout>
