---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPage, processor } from "../../utils";

const page = await getPage("join-us", "cn");

const title = page.title_cn || page.title;
const description = page.description_cn || page.description;
const keywords = page.keywords_cn || page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} description={description}>
  </PageHeader>

  <!-- Start Join -->
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="card shadow border-0 rounded">
            <div class="card-body">
              <h5 class="title fw-bold mb-1">测试工程师</h5>
              <p></p>
              <p>职位描述：</p>
              <ul>
                <li>参与需求分析，识别潜在的测试需求，并与开发团队沟通明确测试标准。</li>
                <li>制定详细的测试计划和测试用例，以涵盖所有功能需求和非功能需求。</li>
                <li>执行手动和自动化测试，覆盖功能测试、性能测试、安全性测试、兼容性测试等。</li>
                <li>记录并跟踪测试中发现的缺陷，推动问题的及时修复。</li>
                <li>开发和维护自动化测试脚本，提升测试效率。</li>
                <li>与团队合作，确保产品在发布前的各项质量指标达标。</li>
                <li>持续改进测试流程，提升整体测试覆盖率和准确性。</li>
              </ul>
              <p>职位要求：</p>
              <ul>
                <li>长期主义者；</li>
                <li>有良好的表达和写作能力；</li>
                <li>具有 3 年以上软件测试经验，熟悉软件测试理论和方法，或者前后端开发出身，有丰富的开发经验；</li>
                <li>深入理解软件开发生命周期和质量保证最佳实践；</li>
                <li>具备自动化测试经验；</li>
                <li>具备编写测试脚本的能力，熟悉至少一种编程语言（如 JavaScript ）；</li>
                <li>能够独立制定和执行复杂测试计划，并有效沟通测试结果；</li>
                <li>有良好的问题分析和解决能力，能独立完成测试任务；</li>
                <li>了解敏捷开发流程，具有优秀的团队协作能力和沟通能力。</li>
              </ul>
              <p>加分项：</p>
              <ul>
                <li>可以带领测试团队，搭建测试体系。</li>
                <li>熟悉性能测试工具；</li>
                <li>有无代码、低代码产品的测试或使用经验；</li>
                <li>有 CI/CD 经验；</li>
                <li>可以使用英语进行流畅的读写或交流。</li>
              </ul>

              <p> </p><p> </p>

              <h5 class="title fw-bold mb-1">合作伙伴生态体系负责人</h5>
              <p></p>
              <p>有越来越多的来自全球各地的公司和开发者联系我们希望进行合作，在当地做市场、分销、服务等工作。我们决定开始着手建设合作伙伴生态体系，希望寻找一位对 NocoBase 有兴趣、对这方面工作有兴趣的新同事加入我们。 </p>
              <p>角色职责：</p> 
              <ul>
                <li>搭建 NocoBase 合作伙伴生态体系，包括规则、流程、文档等 </li> 
                <li>与全球各地的潜在合作伙伴、用户沟通，推动伙伴发展</li> 
              </ul>
              <p>基本要求：</p> 
              <ul>
                <li>互联网技术开发出身，熟悉前后端技术栈</li>
                <li>擅长交流和写作</li>
                <li>可以用中文和英语流畅交流</li>
                <li>熟悉各类 AI 产品的使用</li>
              </ul>
              <p>加分项：</p>
              <ul>
                <li>有无代码、低代码产品开发或使用经验</li>
                <li>有社区建设或管理经验</li>
                <li>有个人作品</li>
                <li>熟悉日语、西语等语言</li>
              </ul>

              <p> </p><p> </p>
              
              <p>工作地点：</p>
              <ul>
                <li>远程工作，不限地点</li>
              </ul>
              <p>联系方式：</p>
              <ul>
                <li>hello@nocobase.com</li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>

        
      </div><!--end row-->
    </div><!--end container-->
  </section><!--end section-->
  <!-- End Join -->
</Layout>
