---
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { getPage, listPluginCategories } from "../../utils";

const tabs = [
  {
    title: "全部插件",
    link: "/cn/plugins",
    active: true,
  },
  {
    title: "商业插件",
    link: "/cn/plugins-commercial",
  },
  {
    title: "插件包",
    link: "/cn/plugins-bundles",
  },
];

const data = await listPluginCategories();
const page = await getPage("plugins");
const title = page.title_cn || page.title;
const description = page.description_cn || page.description;
const keywords = page.keywords_cn || page.keywords;
---

<Layout title={title} description={description} keywords={keywords}>
  <PageHeader title={title} tabs={tabs}>
    <span slot="description" set:html={description}></span>
    <a href="/cn/contact" class="btn btn-outline-primary">购买或出售插件<i class="uil uil-angle-right-b"></i></a>
  </PageHeader>

  <!-- Section Start -->
  <section class="section">
    <div class="container">
      {
        data
          .filter((group) => group.plugins.length > 0)
          .map((group) => (
            <>
              <h4 class="mt-2 pb-1 text-muted">{group.title_cn || group.title}</h4>
              <div class="row pb-4">
                {group.plugins.map((plugin: any) => (
                  <div class="col-lg-4 col-md-6 col-12 pt-0 pb-4">
                    <div title={plugin.title_cn || plugin.title} style="color: inherit;" class="card rounded shadow border-0 plugin-card">
                      <div class="card-body">
                        <div class="mt-2 plugin-box">
                          <h6 class="card-title mb-1">{plugin.title_cn || plugin.title}</h6>
                          <div class="plugin-developer text-muted mb-3">By <span>{'NocoBase' || plugin.developer}</span></div>
                          <p class="text-muted mb-2 plugin-overview">{plugin.description_cn || plugin.description}<br/><a href="{plugin.doc_cn}" target="_blank">详情</a></p>
                          <div class="plugin-footer">
                            {plugin.isComingSoon ? (
                              <span class="badge bg-soft-info plugin-type">
                                即将发布
                              </span>
                            ) : plugin.isCommercial ? (
                              <h6 class="text-primary mb-0">
                                ￥{plugin.price_cny.toLocaleString('en-US')} <span class="text-muted">/</span> <a class="text-muted" href="/cn/plugins-bundles"> {plugin.price_point} <i class="uil uil-moon-eclipse me-1"></i></a>
                              </h6>
                            ) : (
                              <span class="badge bg-soft-primary plugin-type">
                                免费
                              </span>
                            )}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                ))}
              </div>
            </>
          ))
      }
    </div><!--end container-->
  </section><!--end section-->
</Layout><!--end section-->
