---
interface Props {
  basepath?: any;
  items?: any[];
  locale?: string;
}

const { basepath, items = [], locale = "en" } = Astro.props;

const getTitle = (tag: any) => {
  if (locale === "ja" && tag.title_ja) {
    return tag.title_ja;
  }
  if (locale !== "en" && tag.title_cn) {
    return tag.title_cn;
  }
  return tag.title;
};

const getTagUrl = (tag: any) => {
  if (tag.slug === "release-notes") {
    return `/${locale}/blog/timeline`;
  }
  return `${basepath}/tags/${tag.slug}`;
};

if (items.length === 0) {
  return;
}
---

<div class="group tags">
  <ul>
    {
      items.map((tag) => (
          <li>
            <a href={getTagUrl(tag)}>{getTitle(tag)}</a>
          </li>
      ))
    }
  </ul>
</div>

<style>
  .tags {
    margin-top: 3rem;
  }
  .tags ul {
    display: block;
    padding: 0;
  }
  .tags li {
    display: inline-block;
    margin: 5px;
    padding: 6px 8px;
    background: #eee;
    border-radius: 3px;
  }
  .tags a {
    color: #333;
  }
</style>
