---
import FormattedDate from "../../../../components/FormattedDate.astro";
import PageHeader from "../../../../components/PageHeader.astro";
import Pagination from "../../../../components/Pagination.astro";
import Layout from "../../../../layouts/Layout.astro";
import { listArticles, url } from "../../../../utils";

const basepath = '/en/blog';
const { page } = Astro.params as { page?: number };
const { data, meta } = await listArticles({ page });
---

<Layout title="Blog">
  <PageHeader title="Blog" />
  <section class="section">
    <div class="container">
      <main>
        <section>
          <ul class="articles">
            {
              data.map((post) => (
                <li>
                  <a href={`${basepath}/${post.slug}`}>
                    <img
                      style="object-fit: cover;"
                      width={720}
                      height={360}
                      src={url(post.cover.url)}
                      alt=""
                    />
                    <h4 class="title">{post.title}</h4>
                    <p class="date">
                      <FormattedDate date={post.publishedAt || post.createdAt} />
                    </p>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
        <Pagination basepath={basepath} currentPage={page} pageSize={meta.pageSize} total={meta.count} totalPages={meta.totalPage} />
      </main>
    </div>
  </section>
</Layout>
