---
import FormattedDate from "../../../../../../components/FormattedDate.astro";
import PageHeader from "../../../../../../components/PageHeader.astro";
import Pagination from "../../../../../../components/Pagination.astro";
import Layout from "../../../../../../layouts/Layout.astro";
import { getArticleTag, listArticles, url } from "../../../../../../utils";

const title = 'Blog';
const { slug, page } = Astro.params as { slug?: string; page?: number; };
const { data, meta } = await listArticles({ page, tagSlug: slug });
const tag = await getArticleTag(slug);
const description = `Found ${meta.count} results for '${tag.title}'`;
const tagpath = '/en/blog/tags/' + slug;
const basepath = '/en/blog';
---

<Layout title={title} description={description}>
  <PageHeader title={title} description={description}>
  </PageHeader>
  <section class="section">
    <div class="container">
      <main>
        <section>
          <ul class="articles">
            {
              data.map((post) => (
                <li>
                  <a href={`${basepath}/${post.slug}`}>
                    <img
                      style="object-fit: cover;"
                      width={720}
                      height={360}
                      src={url(post.cover.url)}
                      alt=""
                    />
                    <h4 class="title">{post.title_cn || post.title}</h4>
                    <p class="date">
                      <FormattedDate date={post.publishedAt || post.createdAt} />
                    </p>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
        <Pagination basepath={tagpath} currentPage={page} pageSize={meta.pageSize} total={meta.count} totalPages={meta.totalPage} />
      </main>
    </div>
  </section>
</Layout>

<style>
  main {
    max-width: 960px;
    margin: 0 auto;
  }
  ul.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul.articles li {
    width: calc(50% - 1rem);
  }
  ul.articles li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  ul.articles li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  ul.articles li:first-child img {
    width: 100%;
  }
  ul.articles li:first-child .title {
    font-size: 2.369rem;
  }
  ul.articles li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  ul.articles li a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  ul.articles li a:hover h4,
  ul.articles li a:hover .date {
    color: rgb(var(--accent));
  }
  ul.articles a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul.articles {
      gap: 0.5em;
    }
    ul.articles li {
      width: 100%;
      text-align: center;
    }
    ul.articles li:first-child {
      margin-bottom: 0;
    }
    ul.articles li:first-child .title {
      font-size: 1.563em;
    }
  }
</style>
