---
import FormattedDate from "../../../../../../components/FormattedDate.astro";
import PageHeader from "../../../../../../components/PageHeader.astro";
import Pagination from "../../../../../../components/Pagination.astro";
import Layout from "../../../../../../layouts/Layout.astro";
import { getArticleTag, listArticles, url } from "../../../../../../utils";

const title = 'Blog';
const { slug, page } = Astro.params as { slug?: string; page?: number; };
const { data, meta } = await listArticles({ page, tagSlug: slug });
const tag = await getArticleTag(slug);
const description = `Found ${meta.count} results for '${tag.title}'`;
const tagpath = '/en/blog/tags/' + slug;
const basepath = '/en/blog';
---

<Layout title={title} description={description}>
  <PageHeader title={title} description={description}>
  </PageHeader>
  <section class="section">
    <div class="container">
      <main>
        <section>
          <ul class="articles">
            {
              data.map((post) => (
                <li>
                  <a href={`${basepath}/${post.slug}`}>
                    <img
                      style="object-fit: cover;"
                      width={720}
                      height={360}
                      src={url(post.cover.url)}
                      alt=""
                    />
                    <h4 class="title">{post.title_cn || post.title}</h4>
                    <p class="date">
                      <FormattedDate date={post.publishedAt || post.createdAt} />
                    </p>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
        <Pagination basepath={tagpath} currentPage={page} pageSize={meta.pageSize} total={meta.count} totalPages={meta.totalPage} />
      </main>
    </div>
  </section>
</Layout>
