---
import FormattedDate from "../../../components/FormattedDate.astro";
import PageHeader from "../../../components/PageHeader.astro";
import Layout from "../../../layouts/Layout.astro";
import { listReleases } from "../../../utils";

const { data } = await listReleases();
const title = "Release notes";
const description = "Learn about the latest features, improvements, and bug fixes.";
---

<Layout title={title} description={description}>
  <PageHeader title={title} description={description} />
  <section class="section">
    <div class="container">
      <main style="border-top: 1px solid #DFE0E1; ">
        {
          data.map((post) => (
            <div style="border-bottom: 1px solid #DFE0E1; padding: 3em 0 1em;">
              <a style="color: inherit;" href={`/en/releases/${post.slug}`}>
                <h4 class="title">{post.title}</h4>
                <p class="date">
                  <FormattedDate
                    date={post.publishedAt || post.createdAt}
                  />
                </p>
              </a>
            </div>
          ))
        }
      </main>
    </div>
  </section>
</Layout>

<style>
  main {
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
  }
</style>
