---
import FormattedDate from "../../../components/FormattedDate.astro";
import PageHeader from "../../../components/PageHeader.astro";
import Tags from "../../../components/Tags.astro";
import Toc from "../../../components/Toc.astro";
import Layout from "../../../layouts/Layout.astro";
import { getArticle, url } from "../../../utils";

const { slug } = Astro.params;
const { data, headings, html } = await getArticle(slug);
if (!data) {
  return new Response("Not found", { status: 404 });
}
const title = data.title;
const keywords = (data.tags || []).map((tag: any) => tag.title).join(",");
const description = data.description;
const basepath = "/en/blog";
const tabs = [
  {
    title: "Home",
    link: "/en/",
  },
  {
    title: "Blog",
    link: basepath,
  },
  {
    title: 'Detail',
    active: true,
  },
];

const shareLinks = [
  {
    name: "twitter",
    icon: "fab fa-twitter",
    url: `https://twitter.com/intent/tweet?text=${encodeURIComponent(description)}&url=${encodeURIComponent('https://www.nocobase.com' + basepath + '/' + slug)}`
  },
  {
    name: "linkedin",
    icon: "fab fa-linkedin",
    url: `https://www.linkedin.com/sharing/share-offsite/?url=${encodeURIComponent('https://www.nocobase.com' + basepath + '/' + slug)}`
  },
  {
    name: "facebook",
    icon: "fab fa-facebook",
    url: `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent('https://www.nocobase.com' + basepath + '/' + slug)}`
  }
];
---

<Layout title={title} image={url(data.cover.url)} description={description} keywords={keywords}>
  <PageHeader title={title} description={description} breadcrumb={tabs}>
    <div>
      {
        data.author && (
          <span title={data.author}>
            {data.author}
            <span style="opacity: 0.3; display:inline-block; padding: 0 .8em;">
              |
            </span>
          </span>
        )
      }
      <FormattedDate date={data.publishedAt || data.createdAt} />
    </div>
    <Tags basepath={basepath} items={data.tags.filter((tag: any) => tag.displayOnPage)} />
    {data.ai_generated && (
        <p class="ai-generated-label" style="color: gray; font-size: 0.9em;">(This article was translated by AI)</p>
    )}
    </PageHeader>
  <section class="section bg-white-color">
    <main
      class={headings.length > 0 ? "container blog-container row" : "container"}
    >
      <div class="col-md-2 d-none d-md-block">
        <div class="sticky-top" style="top: 80px;">
          <ul class="list-unstyled text-center sticky-bar social-icon social mb-0">
            <li class="mb-2 h6">Share</li>
            {shareLinks.map(link => (
              <li class="mt-1">
                <a href={link.url} class="rounded" target="_blank" rel="noopener">
                  <i class={link.icon}></i>
                </a>
              </li>
            ))}
          </ul>
        </div>
      </div>

      {
        headings.length > 0 ? (
          <>
            <div class="col-md-7 col-18 markdown-body">
              <Fragment set:html={html} />
            </div>
            <div class="col-md-3 col-6 markdown-toc">
              <div class="sticky-top" style="top: 80px;">
                <Toc headings={headings} />
              </div>
            </div>
          </>
        ) : (
          <>
            <div class="col-md-10">
              <Fragment set:html={html} />
            </div>
          </>
        )
      }
    </main>
  </section>
</Layout>

<style>
  main {
    max-width: 960px;
    margin: 0 auto;
  }
</style>
